1eXiejn33Ni7OZOH.json
{"createdAt":"2025-10-03T13:15:55.462Z","updatedAt":"2025-10-13T18:48:33.738Z","id":"1eXiejn33Ni7OZOH","name":"Agente STW - RAG","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[368,656],"id":"8b1c5e49-6d27-4c1e-abcc-fabe3bc136b9","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"systemMessage":"Consulte a tool http"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1968,464],"id":"bb3028ab-93be-46af-9c11-59631bc0bd80","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2032,688],"id":"55c3f178-9e7a-487e-967e-6523cffd098d","name":"Simple Memory"},{"parameters":{"toolDescription":"Use essa tool para consultar os dados na vector store. O parametro query representa o serviço solicitado","method":"POST","url":"https://bnjinlcfonzvxcdufldu.supabase.co/functions/v1/hybrid-search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuamlubGNmb256dnhjZHVmbGR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAwOTA2MjcsImV4cCI6MjA3NTY2NjYyN30.VdZ1HvrCOl1LL-2A2ZgZzUNV2AQXtC7ULrJ7aaKV1sg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `duvida completa do cliente`, 'string') }}"},{"name":"type","value":"=category"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2160,688],"id":"b7c083a3-922a-47ad-b285-0d9c8c083df4","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1232,480],"id":"47f15ed0-83b0-48f7-beff-1693f6393efc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1264,256],"id":"97f2cae6-4105-4c46-a22f-807293af2ca6","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"rTK4RVgEtLDZbLVz","name":"Supabase RAG - Agente STW"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.service }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"service","value":"={{ $json.metadata.service }}"},{"name":"type","value":"category"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1360,480],"id":"e2defc09-3a29-477e-9e3c-3ecd1fb05970","name":"Default Data Loader2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1440,688],"id":"e18f175b-51c5-434b-9991-064bf5414e41","name":"Recursive Character Text Splitter"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS3OG5JMPWY75RF3WDHI6XCC3HXW","mode":"list","cachedResultName":"Treinamento IA - Auto Categorias","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{A20373AC-13C1-436A-A403-FEF0BCD6FC76}","mode":"list","cachedResultName":"Descrição Serviços","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Descri%C3%A7%C3%A3o%20Servi%C3%A7os!A1"},"options":{}},"id":"126bc168-61a4-4660-a116-1b2b564a981b","name":"Get Rows2","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[576,224],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1024,224],"id":"efbf17b0-9f01-4380-be5f-eeae18a8e3ac","name":"Loop Over Items2"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS3OG5JMPWY75RF3WDHI6XCC3HXW","mode":"list","cachedResultName":"Treinamento IA - Auto Categorias","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{00000000-0001-0000-0000-000000000000}","mode":"list","cachedResultName":"Dados","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7BC752376E-1FDB-4BEC-BB0C-E8F5C42D9EF6%7D&file=Treinamento%20IA%20-%20Auto%20Categorias.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Dados!A1"},"options":{}},"id":"ac1f131d-22fc-47b5-818e-aaace89c2e09","name":"Get Rows3","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[640,832],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1072,832],"id":"569d31e6-d0f6-4804-b39e-0736908a8a56","name":"Loop Over Items3"},{"parameters":{"assignments":{"assignments":[{"id":"892ea28f-79b1-4ad9-92b2-095d8373abdc","name":"service","value":"=serviço: {{ $json.Serviço }}\ndescrição: {{ $json['Definição'] }}\nsintomas: {{ $json['Sintomas Comuns'] }}\npalavras chave: {{ $json['Palavras Chave'] }}\n","type":"string"},{"id":"e87f6a26-5955-4abf-93f9-065fd19cb0e8","name":"metadata.service","value":"={{ $json[\"Serviço\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,224],"id":"ce7aa97f-3b45-4dcc-9dd0-29d67a605a8b","name":"Edit Fields"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[1776,464],"id":"23612688-9f93-4017-bf8f-df6e81aa7731","name":"When chat message received","webhookId":"6da27444-547e-4af8-8878-f74bafd59e33"},{"parameters":{"assignments":{"assignments":[{"id":"892ea28f-79b1-4ad9-92b2-095d8373abdc","name":"auto_categoria","value":"=auto_categoria:{{ $json[\"Auto Categoria\"] }}\ncontexto: {{ $json.Contexto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,832],"id":"64947af6-7c97-4965-baf8-10d597311701","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1312,1056],"id":"e7289c50-11c8-4250-8d02-dced3ee711aa","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"Qs9tjxkVYbakpq0F","name":"OpenAi account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1344,832],"id":"574e1fa0-e176-4223-8df7-0cc8040ead3b","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"rTK4RVgEtLDZbLVz","name":"Supabase RAG - Agente STW"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.auto_categoria }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"type","value":"auto-category"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1440,1056],"id":"af29c4b5-1d4c-4bac-9b98-c061eefd06eb","name":"Default Data Loader3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1520,1264],"id":"a162ce1b-7f50-42d9-9cef-7c6bf37d9859","name":"Recursive Character Text Splitter1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Rows3","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Get Rows2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get Rows3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader3":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader3","type":"ai_textSplitter","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Supabase Vector Store1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e0d71ea-4c3c-4995-97d2-248f09231efa","triggerCount":0,"shared":[{"createdAt":"2025-10-03T13:15:55.462Z","updatedAt":"2025-10-03T13:15:55.462Z","role":"workflow:owner","workflowId":"1eXiejn33Ni7OZOH","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}