eBNrDBLJoIYTpida.json
{"createdAt":"2025-07-18T19:25:48.812Z","updatedAt":"2025-10-08T12:54:42.575Z","id":"eBNrDBLJoIYTpida","name":"SystemWay - Salvar Contatos","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1376,208],"id":"4bbe0701-340d-4634-9530-1901905764cf","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1168,208],"id":"642b9866-ef0a-47c9-bd1b-7dd70b1660b0","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}}},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68000dbcd61e503677e0fcfd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $json.apelido }}\",\n  \"number\": \"{{ $json.numero }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,208],"id":"0c38f5f8-0c80-4a58-8945-e3725e188efe","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/tags","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68000dbcd61e503677e0fcfd"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,464],"id":"3ccb641b-ded9-441a-be8b-ba15efb5a270","name":"HTTP Request1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-656,208],"id":"1eeee40c-fc39-410e-a613-252284f92eb3","name":"Loop Over Items"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"columnToMatchOn":"numero","valueToMatchOn":"={{ $('Loop Over Items').item.json.numero }}","fieldsUi":{"values":[{"column":"status","fieldValue":"Sucesso"}]},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[0,0],"id":"c80a660b-5d53-4e43-91e9-30aa0791e40d","name":"Microsoft Excel 3651","credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,208],"id":"d8108a2b-98ec-412d-b9a4-112bfc65edef","name":"Is Invalid Number?"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,0],"id":"47ad7a13-24ae-4861-a830-eefcfef91203","name":"Wait","webhookId":"f1718731-bac1-4723-b79d-282436462ad8"},{"parameters":{"assignments":{"assignments":[{"id":"cc3ef584-7341-4276-8541-9770505af3e4","name":"error.number","value":"={{ $json.error.message.trim().match(/(\\d{11,15})/)[1] }}\n","type":"string"},{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,352],"id":"85f0f5a1-4e3f-4bb2-996c-6fac24612a50","name":"Set Error1"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01EXHUDS2UWQLU6YT2N5FK6X2R352SBZ72","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{860CE26A-8EB1-4140-BFFB-6E4F082F6828}","mode":"list","cachedResultName":"contatos faltantes colenci","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B4F17B454-7A62-4A6F-AF5F-51DF7520E7FA%7D&file=contatos%20faltantes%20colenci.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=contatos%20faltantes%20colenci!A1"},"columnToMatchOn":"numero","valueToMatchOn":"={{ $('Loop Over Items').item.json.numero }}","fieldsUi":{"values":[{"column":"status","fieldValue":"={{ $json.error.message }}"}]},"options":{}},"id":"2b2f5e8c-df32-4595-b383-cf7ba38d6e6c","name":"Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[160,352],"credentials":{"microsoftExcelOAuth2Api":{"id":"SRd7iSYpxhz7rIR5","name":"Microsoft Excel Vinicius Marotti"}},"onError":"continueErrorOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,400],"id":"32fb5c09-fd8d-4ee1-b299-045cd313238c","name":"Wait3","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7297480d-f111-4d23-8a97-866974e3d0c6","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,208],"id":"0530a223-720b-438f-97a8-2c1f0d8f2a56","name":"If"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Microsoft Excel 365":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Microsoft Excel 3651","type":"main","index":0}],[{"node":"Set Error1","type":"main","index":0}]]},"Microsoft Excel 3651":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Microsoft Excel 3651","type":"main","index":0}]]},"Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Error","type":"main","index":0}]]},"Set Error1":{"main":[[{"node":"Error","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d315068-bd47-45e6-ac92-d88d93fada25","triggerCount":0,"shared":[{"createdAt":"2025-07-18T19:25:48.812Z","updatedAt":"2025-07-18T19:25:48.812Z","role":"workflow:owner","workflowId":"eBNrDBLJoIYTpida","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}