eIR2QArMYXxv2t6w.json
{"createdAt":"2025-09-08T11:18:25.215Z","updatedAt":"2025-09-12T11:48:37.869Z","id":"eIR2QArMYXxv2t6w","name":"Mercado livre - Refresh token","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":300}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"be2db3a7-c830-449e-b26e-1f794c63ca33","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"4291541990258821"},{"name":"client_secret","value":"FNtF8uOSZdUlw5nAytiWMe1o83RauSFp"},{"name":"refresh_token","value":"={{ $json.refresh_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"d59ecad2-b77a-4627-b132-ca7d48a4003b","name":"HTTP Request"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"mercado_livre_token","mode":"list","cachedResultName":"mercado_livre_token"},"where":{"values":[{"column":"id","value":"1"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"5fa1db54-155f-4034-ae50-37b5511c290b","name":"Select rows from a table","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"mercado_livre_token","mode":"list","cachedResultName":"mercado_livre_token"},"columns":{"mappingMode":"defineBelow","value":{"id":1,"access_token":"={{ $json.access_token }}","refresh_token":"={{ $json.refresh_token }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"access_token","displayName":"access_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"refresh_token","displayName":"refresh_token","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,0],"id":"07748918-0d9a-4a14-b1b1-9c2c99045d95","name":"Update rows in a table","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[20]}},"meta":null,"pinData":{},"versionId":"aa17b108-02b3-46a3-b839-d3ab7a355fdb","triggerCount":1,"shared":[{"createdAt":"2025-09-08T11:18:25.215Z","updatedAt":"2025-09-08T11:18:25.215Z","role":"workflow:owner","workflowId":"eIR2QArMYXxv2t6w","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}