gNkMvlzKDZapTc0m.json
{"createdAt":"2025-07-18T19:03:11.884Z","updatedAt":"2025-10-08T12:49:08.346Z","id":"gNkMvlzKDZapTc0m","name":"Regional Agendamentos - Atualizacao DB","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://systemwaycombr-my.sharepoint.com/personal/vinicius_marotti_systemway_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B8F54DEC1-63E6-4CA5-8342-15649C85B02A%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1088,112],"id":"1e951e4b-bd0d-42bd-b958-b801fd276d5e","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}}},{"parameters":{"operation":"executeQuery","query":"select * from Automacao\nwhere sinistro = '{{ $json['Número Sinistro'] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-448,112],"id":"e964d7d3-57c9-4aa0-a4a3-2fd25625c5cc","name":"MySQL","alwaysOutputData":true,"credentials":{"mySql":{"id":"wSzrAFK897f0Dvno","name":"MySQL Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cfdd18c7-75d7-46c8-a50b-b929a25d7ce5","leftValue":"={{ $json[\"Nome Cliente\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,112],"id":"a94d146b-e3e8-4922-8cfd-2c9550537e11","name":"If"},{"parameters":{"operation":"executeQuery","query":"update Automacao \nset template_enviado = '{{ $('loop').first().json['Temp Enviado'] }}', data_hora_criado = '{{ $('loop').first().json['Hora Criado'] }}', data_hora_agendado = '{{ $('loop').first().json.Agendado }}', error_envio = '{{ $('loop').first().json['Erro no envio'].replace(/'/g, \"\\\\'\") }}', interagiu_msg = '{{ $('loop').first().json['Interagiu na msg'] }}', data_envio = '{{ new Date((Number($('loop').first().json[\"ENVIO MSG\"]) - 25569) * 86400 * 1000).toLocaleDateString(\"pt-BR\") }}'\n  where sinistro = '{{ $('loop').first().json[\"Número Sinistro\"] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[0,240],"id":"f4be8dc3-5c9d-43a5-b19f-fe5116255971","name":"MySQL2","alwaysOutputData":true,"credentials":{"mySql":{"id":"wSzrAFK897f0Dvno","name":"MySQL Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f2273ab-78d0-4018-bb6b-8f3e358696ff","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,112],"id":"58f5ca0e-9127-42df-89b9-be900ece62ad","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-656,112],"id":"3e9718ee-9b63-4728-894e-99678f389156","name":"loop"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7},{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1280,112],"id":"cbc27769-8364-40bf-90e1-b6e54d9d2f50","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1280,304],"id":"3466782f-ebd9-4e16-b2f6-d9df04c44de5","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - Regional","bodyContent":"=Workflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1088,304],"id":"4073c74e-8c18-4a1d-8406-f4505a80e677","name":"Microsoft Outlook","webhookId":"6f781cf6-c109-4424-a5f7-58ad08b54701","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"operation":"executeQuery","query":"insert into Automacao (sinistro, nome, produto, telefone, template_enviado, data_hora_criado, data_hora_agendado, error_envio, interagiu_msg, data_envio)\nVALUES ('{{ $('loop').first().json[\"Número Sinistro\"].toString() }}', '{{ $('loop').first().json[\"Nome Cliente\"].replace(/'/g, \"\\\\'\") }}', '{{ $('loop').first().json.Produto.replace(/'/g, \"\\\\'\") }}', '{{ $('loop').first().json.Telefone.toString() }}', '{{ $('loop').first().json[\"Temp Enviado\"] }}', '{{ $('loop').first().json[\"Hora Criado\"] }}', '{{ $('loop').first().json.Agendado }}', LEFT('{{ $('loop').first().json[\"Erro no envio\"].replace(/'/g, \"\\\\'\") }}', 250), '{{ $('loop').first().json[\"Interagiu na msg\"] }}', '{{ new Date((Number($('loop').first().json['ENVIO MSG']) - 25569) * 86400 * 1000).toLocaleDateString(\"pt-BR\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[0,0],"id":"12f349cd-30a5-492d-a5a2-2fdb45f0b8cf","name":"Execute a SQL query","alwaysOutputData":true,"credentials":{"mySql":{"id":"wSzrAFK897f0Dvno","name":"MySQL Regional"}}}],"connections":{"Microsoft Excel 365":{"main":[[{"node":"If","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"loop","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"loop","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"MySQL2","type":"main","index":0}]]},"loop":{"main":[[],[{"node":"MySQL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"loop","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-22T09:43:15.453-03:00","Readable date":"August 22nd 2025, 9:43:15 am","Readable time":"9:43:15 am","Day of week":"Friday","Year":"2025","Month":"August","Day of month":"22","Hour":"09","Minute":"43","Second":"15","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"3787ab22-6ff3-463e-85d6-f72d6d7e485e","triggerCount":1,"shared":[{"createdAt":"2025-07-18T19:03:11.884Z","updatedAt":"2025-07-18T19:03:11.884Z","role":"workflow:owner","workflowId":"gNkMvlzKDZapTc0m","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}