HfftpQQc9RzxEBZl.json
{"createdAt":"2025-10-08T13:00:19.564Z","updatedAt":"2025-10-09T13:42:39.067Z","id":"HfftpQQc9RzxEBZl","name":"Integracao STW Chat e Desk - Salvar Informaçoes BANCO 240","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":401,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":402,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e3fb6fa-9f25-4d89-a5ea-6759fc24276f","leftValue":"={{ $json.trigger }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,192],"id":"c3eeb1f3-451f-4e2b-b812-50c1b6441a6a","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[96,3808],"id":"195a4e57-ef39-400d-a412-3ac53114d111","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - STW Salvar Solicitantes","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[320,3808],"id":"25039e50-e682-4bee-95c1-00e6944fefca","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\nconst request = {\n  url: \"https://api.desk.ms/AutoCategorias/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst data = response.root || [];\n\n// Filtra e transforma os dados\nconst resultado = data\n  .filter(item => typeof item.Assunto === 'string' && item.Assunto.includes(' - '))\n  .map(item => {\n    const partes = item.Assunto.split(' - ').map(p => p.trim());\n\n    return {\n      chave: item.Chave || null,\n      categoria: partes[0] || '',\n      subcategoria: partes[1] || '',\n      tipo: partes[2] || ''\n    };\n  });\n\nreturn resultado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,80],"id":"a9d63fc6-3fce-4931-91b5-fc3f3250888f","name":"Code3","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,80],"id":"fdea93a2-c6d7-4dfc-9d86-9e6cdbf6bba9","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,80],"id":"c3aeae7c-1f7f-4ecc-ac40-b4d93aba9cc5","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,80],"id":"26c0ed58-ab96-4fab-9bf0-3aa07befd187","name":"getToken1"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"autocategoria_desk","mode":"list","cachedResultName":"autocategoria_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,80],"id":"bc15bcf1-ad90-4224-a6c7-bad7c627a75a","name":"delete","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO autocategoria_desk (id, category, sub_category, type_category, auto_category)\nVALUES ('{{ $json.chave }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.tipo }}', '{{ $json.categoria }} - {{ $json.subcategoria }} - {{ $json.tipo }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,80],"id":"6bd89aab-08f1-4b83-928f-7b989a073fff","name":"insert","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst operadoresRequest = {\n  url: \"https://api.desk.ms/Operadores/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst operadoresResponse = await this.helpers.httpRequest(operadoresRequest);\nconst operadores = operadoresResponse.root || [];\n\nconst gruposRequest = {\n  url: \"https://api.desk.ms/Grupos/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst gruposResponse = await this.helpers.httpRequest(gruposRequest);\nconst grupos = gruposResponse.root || [];\n\nconst grupoMap = {};\nfor (const grupo of grupos) {\n  grupoMap[grupo.Nome.trim()] = grupo.Chave;\n}\n\nconst resultado = operadores.map(item => {\n  const grupoNome = item.GrupoPrincipal?.trim();\n  const grupoChave = grupoMap[grupoNome] || null;\n\n  return{\n    chave: item.Chave,\n    nome: item.Nome,\n    sobrenome: item.Sobrenome,\n    email: item.Email,\n    grupoPrincipal: grupoNome,\n    chaveGrupo: grupoChave\n  }\n});\n\nreturn resultado.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,1392],"id":"c055e80d-ca1c-4085-8ee7-96163e7c0d8b","name":"Code5","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1824,1392],"id":"25b12643-17ae-4a12-b1af-09c28b19d0bf","name":"Loop Over Items1","disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[976,1392],"id":"c5cb8036-554c-49b5-9ed6-09b95f667fa4","name":"Schedule Trigger1","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,1392],"id":"a00a991c-8681-4f88-bde8-976a6efa86ca","name":"getToken2","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"operadores_desk","mode":"list","cachedResultName":"operadores_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1200,1392],"id":"b93f9a8d-bd30-4d90-892a-936a11b8bc9d","name":"delete1","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO operadores_desk (id, name, last_name, fullname, email, group_id)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.nome }}',\n  '{{ $json.sobrenome }}',\n  '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.email }}',\n  '{{ $json.chaveGrupo }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2096,1392],"id":"c9800870-a835-4b33-ae68-17ce60c558ba","name":"insert1","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst request = {\n  url: \"https://api.desk.ms/Status/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"1\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst status = response.root || [];\n\nreturn status.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,832],"id":"873d591b-1251-46ad-a78c-1b19059fcc7f","name":"Code7","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,832],"id":"637d5b6b-ae6f-42b3-bfc1-b8bddb7aaf0f","name":"Loop Over Items3"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,832],"id":"444ab161-c96d-428c-9b7e-a27dc53228bc","name":"Schedule Trigger3"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,832],"id":"71307b2d-b9cb-43bf-bcc9-10d39fc260ba","name":"getToken5"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"status_desk","mode":"list","cachedResultName":"status_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,832],"id":"9f92ff22-d72d-441a-a5c7-770d45d12943","name":"delete3","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO status_desk (id, sequence_id, name)\nVALUES ('{{ $json.Chave }}', '{{ $json.Sequencia }}', '{{ $json.Nome }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,880],"id":"7579c8d0-042b-4141-b60a-1033c282cb8e","name":"insert3","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Buscar todos os grupos\nconst requestGroupsList = {\n  url: \"https://api.desk.ms/GrupoEmpresas/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst responseGroupLists = await this.helpers.httpRequest(requestGroupsList);\nconst groupLists = responseGroupLists.root || [];\n\n// 2. Para cada grupo, buscar as empresas e montar a lista única de empresas+grupo\nlet empresas = [];\n\nfor (const grupo of groupLists) {\n  const requestEmpresas = {\n    url: \"https://api.desk.ms/GrupoEmpresas\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Chave\": grupo.Sequencia\n    }\n  };\n\n  const responseEmpresas = await this.helpers.httpRequest(requestEmpresas);\n  const infoGrupo = responseEmpresas.TGrupoEmpresa || {};\n  const listaEmpresas = infoGrupo.ListaEmpresas || [];\n\n  listaEmpresas.forEach(emp => {\n    empresas.push({\n      empresa_id: emp.id,\n      name: emp.text,\n      grupo_nome: grupo.Nome,\n      codigo_sequencia: grupo.Sequencia\n    });\n  });\n}\n\n// 3. Retornar uma empresa por item\nreturn empresas.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,464],"id":"3a254d9b-f9e9-46ff-adaa-7d0e8c421e1f","name":"Code8","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,464],"id":"906d24d3-4d48-43dc-b8db-ae388338c115","name":"Loop Over Items4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1344,464],"id":"657e344c-c60d-49a0-84a8-21fc224f8e33","name":"Schedule Trigger4"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,464],"id":"b22b54ca-827c-46da-b798-b775fd88bc70","name":"getToken6"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"grupo_empresas_desk","mode":"list","cachedResultName":"grupo_empresas_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-1120,464],"id":"3dba7320-34c1-4b49-a41d-5450fbd37b75","name":"delete4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO grupo_empresas_desk (company_id, company_name, group_company_id, group_company_name)\nVALUES ('{{ $json.empresa_id }}', '{{ $json.name.replace(/'/g, \"''\") }}', '{{ $json.codigo_sequencia }}', '{{ $json.grupo_nome.replace(/'/g, \"''\") }}')","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-224,464],"id":"a2255878-837c-48c4-bdf0-e5b64334f857","name":"insert4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"httpMethod":"POST","path":"fea5778f-8c02-4ba8-a003-8f722b427c0a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[32,208],"id":"256a8129-8f19-4c57-beb8-260fb219e99d","name":"Solicitantes","webhookId":"fea5778f-8c02-4ba8-a003-8f722b427c0a"},{"parameters":{"content":"# Salvar Solicitantes Desk no DB","height":568,"width":1112,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-16],"id":"24dc3676-a848-47f1-8c95-7e556de535e1","name":"Sticky Note","disabled":true},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Usuarios/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\n// 2. Faz requisições em paralelo usando Promise.all\nconst resultados = await Promise.all(data.map(async (item) => {\n  const chave = item.Chave;\n\n  const requestDetail = {\n    url: \"https://api.desk.ms/Usuarios\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      Chave: chave\n    },\n    json: true\n  };\n\n  try {\n    const responseDetail = await this.helpers.httpRequest(requestDetail);\n    const telefone = responseDetail?.TUsuario?.SMSNumero || \"\";\n\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone\n      }\n    };\n  } catch (err) {\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone: \"\"\n      }\n    };\n  }\n}));\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,208],"id":"fdd8cc3a-1326-4038-9f30-9dd5b95db322","name":"Code6","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2112,208],"id":"f0a90736-cfb4-422b-ac96-27055cfa5258","name":"Loop Over Items2","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1232,208],"id":"d7a63178-6d01-41ec-8332-3ebfc6891dd1","name":"Schedule Trigger2","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,208],"id":"17736e3a-0932-4ce0-b3e2-5e92a9145b8e","name":"getToken4","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"solicitantes_desk","mode":"list","cachedResultName":"solicitantes_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1456,208],"id":"2047e131-3c37-40a5-90ec-ccc91257b427","name":"delete2","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"content":"# Salvar Operadores Desk","height":560,"width":904},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1184],"id":"88008cc3-ccb2-4360-ab77-3d08e1b843de","name":"Sticky Note2"},{"parameters":{"content":"# Salvar Auto Categoria Desk","height":320,"width":1320,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-16],"id":"c6865161-ef5b-490e-adcb-2392db6f38f8","name":"Sticky Note3"},{"parameters":{"content":"# Salvar Status Desk","height":352,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,720],"id":"7ee0348b-8014-4d3b-8bfe-14f9381266ca","name":"Sticky Note4","disabled":true},{"parameters":{"content":"# Salvar Grupo Empresas Desk","height":324,"width":1320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,352],"id":"2ba16e77-2c02-459c-bd67-71e04aaa7ce5","name":"Sticky Note5","disabled":true},{"parameters":{"operation":"executeQuery","query":"update solicitantes_desk set\n    name = '{{ $('VARS1').item.json.data.TUsuario.Nome.replace(/'/g, \"''\") }}',\n    last_name = '{{ $('VARS1').item.json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}',\n    fullname = '{{(() => {\n      const nome = $('VARS1').item.json.data.TUsuario.Nome || \"\";\n      const sobrenome = $('VARS1').item.json.data.TUsuario.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n    email = '{{ $('VARS1').item.json.data.TUsuario.Email.replace(/'/g, \"''\") }}',\n    number = '{{ $('VARS1').item.json.data.TUsuario.SMS }}',\n    client_id = '{{ $('VARS1').item.json.data.TUsuario.CodCliente }}',\n    client_name = '{{ $json.fantasy_name }}'\n  where id = '{{ $('VARS1').item.json.data.TUsuario.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[928,208],"id":"8f65b305-74bf-45df-a0f5-24bd9a7d5821","name":"Execute a SQL query","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO solicitantes_desk (\n  id,\n  name,\n  last_name,\n  fullname,\n  email,\n  number,\n  client_id,\n  client_name\n)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.nome.replace(/'/g, \"''\") }}',\n  '{{ $json.sobrenome.replace(/'/g, \"''\") }}',\n   '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.email.replace(/'/g, \"''\") }}',\n  '{{ $json.telefone }}',\n  '{{ $json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"''\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2368,192],"id":"91839228-756d-4d58-8596-61a47f1e5fb0","name":"insert5","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE status_desk\nSET is_enabled = CASE\n  WHEN id IN ('1330','371','368') THEN false\n  ELSE true\nEND;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-224,736],"id":"13b7e75d-c281-4e16-8948-b13a51a88795","name":"is_enabled","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"delete from solicitantes_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,400],"id":"75837285-1337-407c-8dd7-0de9b04955bc","name":"Execute a SQL query1","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO solicitantes_desk (\n  id,\n  name,\n  last_name,\n  fullname,\n  email,\n  number,\n  client_id,\n  client_name\n)\nVALUES (\n  '{{ $('VARS1').item.json.data.TUsuario.Chave[0] }}',\n  '{{ $('VARS1').item.json.data.TUsuario.Nome.replace(/'/g, \"''\") }}',\n  '{{ $('VARS1').item.json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}',\n  '{{(() => {\n      const nome = $('VARS1').item.json.data.TUsuario.Nome || \"\";\n      const sobrenome = $('VARS1').item.json.data.TUsuario.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $('VARS1').item.json.data.TUsuario.Email.replace(/'/g, \"''\") }}',\n  '{{ $('VARS1').item.json.data.TUsuario.SMS }}',\n  '{{ $('VARS1').item.json.data.TUsuario.CodCliente }}',\n  '{{ $json.fantasy_name.replace(/'/g, \"''\") }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[928,16],"id":"e12c3bc4-feb3-46f0-a4da-7cbe3930a623","name":"Execute a SQL query2","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Clientes/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\nreturn data;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,800],"id":"6a968e3d-1df3-4d9d-8364-140efdac27bc","name":"Code9","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1856,800],"id":"388269ce-8587-4959-ac4e-343b7dae0082","name":"Loop Over Items5","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[976,800],"id":"2bd56e4a-d109-4542-a293-dd8f63983d61","name":"Schedule Trigger5","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,800],"id":"67569629-8a6c-43c1-8e9f-32236605797e","name":"getToken","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"empresas_desk","mode":"list","cachedResultName":"empresas_desk"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1200,800],"id":"6d580f4e-ea9a-48f6-b916-580813397aae","name":"delete5","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO empresas_desk (\n  id,\n  fantasy_name,\n  social_responsibility_name\n)\nVALUES (\n  '{{ $json.Chave }}',\n  '{{ $json.Fantasia.replace(/'/g, \"''\") }}',\n  '{{ $json.RazaoSocial.replace(/'/g, \"''\") }}'\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[2112,784],"id":"95def6d1-63f0-4ea9-865b-488b8b60e52a","name":"insert6","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select fantasy_name from empresas_desk where id = '{{ $json.data.TUsuario.CodCliente }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,16],"id":"fe44f80a-d546-41d4-91d8-182bc39ac6e8","name":"Execute a SQL query3","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"select fantasy_name from empresas_desk where id = '{{ $json.data.TUsuario.CodCliente }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,208],"id":"f362a72c-f5a6-4674-8b94-281861258ab9","name":"Execute a SQL query4","alwaysOutputData":true,"credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,800],"id":"84afabc8-5771-48ab-8a2b-97a280567a27","name":"Code2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":301,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":302,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"62ae8b36-96e0-4589-a693-09da05ff09f0","leftValue":"={{ $json.trigger }}","rightValue":303,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,784],"id":"9ac998d2-40c7-40b4-b455-0299838e6fbe","name":"Switch2"},{"parameters":{"content":"# Salvar Empresas Desk no DB","height":552,"width":904,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,592],"id":"adb111a9-e9d4-4f8e-8d2c-e757106e29d5","name":"Sticky Note6"},{"parameters":{"operation":"executeQuery","query":"update empresas_desk set\n    fantasy_name = '{{ $json.data.TCliente.Fantasia }}',\n    social_responsibility_name = '{{ $json.data.TCliente.RazaoSocial }}'\n  where id = '{{ $json.data.TCliente.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,800],"id":"7752e952-8957-44c4-87f4-f4b051ba24ff","name":"Execute a SQL query10","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"delete from empresas_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,992],"id":"ac16071e-f765-4a81-92f9-44fc9708aeeb","name":"Execute a SQL query11","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO empresas_desk (\n  id,\n  fantasy_name,\n  social_responsibility_name\n)\nVALUES (\n  '{{ $json.data.TCliente.Chave[0] }}',\n  '{{ $json.data.TCliente.Fantasia }}',\n  '{{ $json.data.TCliente.RazaoSocial }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,608],"id":"ec128cd5-f20d-4a22-9432-4fcf86ebe093","name":"Execute a SQL query12","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"httpMethod":"POST","path":"127c6a0f-5c9d-4c43-b18b-5d94caa30534","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,800],"id":"56e8d0d8-a2fb-4ae0-88e8-1c3da5f95146","name":"Webhook","webhookId":"127c6a0f-5c9d-4c43-b18b-5d94caa30534"},{"parameters":{"httpMethod":"POST","path":"c31928fe-68d1-402e-869e-36ed9ed2026c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,1392],"id":"c2707f3f-dc2d-48b0-b9ea-16bf9e3cbda2","name":"Webhook1","webhookId":"c31928fe-68d1-402e-869e-36ed9ed2026c"},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,1392],"id":"e29a1939-3945-48e9-8422-2e77d8af2853","name":"Code4"},{"parameters":{"operation":"executeQuery","query":"delete from operadores_desk where id = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[704,1584],"id":"67a313bc-b342-4cce-a608-422b6e6ceb39","name":"Execute a SQL query5","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":101,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":102,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"136a326f-110e-43ca-88ba-9bdb5397ba44","leftValue":"={{ $json.trigger }}","rightValue":103,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excluir"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,1376],"id":"6fb14a23-8f6c-4348-918a-c8c552450e54","name":"Switch3"},{"parameters":{"operation":"executeQuery","query":"update operadores_desk set\n    name = '{{ $json.data.TOperador.Nome }}',\n    last_name = '{{ $json.data.TOperador.Sobrenome }}',\n    fullname = '{{(() => {\n      const nome = $json.data.TOperador.Nome || \"\";\n      const sobrenome = $json.data.TOperador.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n    email = '{{ $json.data.TOperador.Email }}',\n    group_id = '{{ $json.data.TOperador.GrupoPrincipal }}'\n  where id = '{{ $json.data.TOperador.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,1392],"id":"2f4279d3-d264-40d2-86c4-ac5427ceeaee","name":"Execute a SQL query13","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO operadores_desk\n  (id, name, last_name, fullname, email, group_id)\nVALUES (\n  '{{ $json.data.TOperador.Chave[0] }}',\n  '{{ $json.data.TOperador.Nome }}',\n  '{{ $json.data.TOperador.Sobrenome }}',\n  '{{(() => {\n      const nome = $json.data.TOperador.Nome || \"\";\n      const sobrenome = $json.data.TOperador.Sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.data.TOperador.Email }}',\n  '{{ $json.data.TOperador.GrupoPrincipal }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[704,1200],"id":"3192b34f-b774-4a9d-ae7e-13d891db3984","name":"Execute a SQL query14","credentials":{"mySql":{"id":"tJxr4G8ZDqH3BofU","name":"MySQL INTEGRACAO"}}},{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,208],"id":"149a6403-40d0-4554-a2b2-7a66b7ffb5d5","name":"VARS1"}],"connections":{"Switch":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}],[{"node":"Execute a SQL query4","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"insert","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"delete","type":"main","index":0}]]},"getToken1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"delete":{"main":[[{"node":"getToken1","type":"main","index":0}]]},"insert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"insert1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"delete1","type":"main","index":0}]]},"getToken2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"delete1":{"main":[[{"node":"getToken2","type":"main","index":0}]]},"insert1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"is_enabled","type":"main","index":0}],[{"node":"insert3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"delete3","type":"main","index":0}]]},"getToken5":{"main":[[{"node":"Code7","type":"main","index":0}]]},"delete3":{"main":[[{"node":"getToken5","type":"main","index":0}]]},"insert3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"insert4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"delete4","type":"main","index":0}]]},"getToken6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"delete4":{"main":[[{"node":"getToken6","type":"main","index":0}]]},"insert4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Solicitantes":{"main":[[{"node":"VARS1","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"insert5","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"delete2","type":"main","index":0}]]},"getToken4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"delete2":{"main":[[{"node":"getToken4","type":"main","index":0}]]},"insert5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"insert6","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"delete5","type":"main","index":0}]]},"getToken":{"main":[[{"node":"Code9","type":"main","index":0}]]},"delete5":{"main":[[{"node":"getToken","type":"main","index":0}]]},"insert6":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Execute a SQL query3":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Execute a SQL query12","type":"main","index":0}],[{"node":"Execute a SQL query10","type":"main","index":0}],[{"node":"Execute a SQL query11","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Execute a SQL query14","type":"main","index":0}],[{"node":"Execute a SQL query13","type":"main","index":0}],[{"node":"Execute a SQL query5","type":"main","index":0}]]},"VARS1":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"1717","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"98.82.126.115","cf-ipcountry":"US","cf-ray":"98b6adca5c164376-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"98.82.126.115","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"save.client\", \"trigger\": 301, \"data\": {\"MarcarTodosDefault\": \"off\", \"TCliente\": {\"RazaoSocial\": \"Marotti Teste\", \"Avulso\": \"off\", \"Complemento\": \"\", \"Bloquear\": \"off\", \"ReabreDias\": \"0\", \"Nome\": \"\", \"ServiceDesk\": \"on\", \"AberturaPortal\": \"on\", \"MinAprovacaoAtivo\": \"off\", \"Fornecedor\": \"off\", \"EnviaEmail\": \"on\", \"ObrigaCatalogo\": \"off\", \"Telefone\": \"\", \"PrioridadeAtivo\": \"off\", \"OAssuntoAtivo\": \"on\", \"ObsBloquear\": \"\", \"Email\": \"\", \"AbChamadoEmail\": \"on\", \"Cnpj\": \"48.642.645/0001-54\", \"Uf\": \"\", \"ImpactoAtivo\": \"off\", \"CssPortal\": \"\", \"FinalizaAuto\": \"off\", \"ObservadorIntEmail\": \"on\", \"Bairro\": \"\", \"Matriz\": \"off\", \"Observacoes\": \"\", \"Numero\": \"\", \"IntChamadoEmail\": \"on\", \"Chave\": [811], \"PorGerente\": \"off\", \"UrgenciaAtivo\": \"off\", \"MostraSomaPortal\": \"off\", \"DominioAd\": \"\", \"Cep\": \"\", \"MostraHoraChamado\": \"\", \"Pais\": \"BR\", \"Alterado\": \"\", \"PsAtivo\": \"on\", \"ChamadosMes\": \"\", \"HabilitarDuploFator\": \"off\", \"MapaAtendimento\": \"off\", \"GrupoAtivo\": \"off\", \"HorasMes\": \"\", \"ReabreAtivo\": \"off\", \"AbChatAtivo\": \"off\", \"Cidade\": \"\", \"PorAdministrador\": \"off\", \"Contato\": \"\", \"Cpf\": \"\", \"AnexoAtivo\": \"on\", \"AlertaChEmailFim\": \"off\", \"Juridico\": \"S\", \"BloqEmailReabre\": \"off\", \"Sobrenome\": \"\", \"AAssuntoAtivo\": \"on\", \"JustificarAprovacao\": \"off\", \"Endereco\": \"\", \"Fantasia\": \"Marotti Teste\", \"TipoAtivo\": \"off\", \"AlertaChSmsFim\": \"off\", \"ServerAd\": \"\", \"InteracaoPortal\": \"on\", \"ArvoreBloco\": \"on\", \"AdAtivo\": \"off\", \"MinAprovacao\": \"\", \"GerarToken\": \"off\", \"IdiomaAlterar\": \"off\", \"IcsAtivo\": \"off\", \"CCCatalogo\": \"off\", \"CategoriaAtivo\": \"off\", \"TocorrenciaAtivo\": \"off\", \"Criado\": \"\", \"ExternalID\": \"\", \"AlteraItensAssunto\": \"off\", \"Aprovacao\": \"off\", \"AtivoLogo\": \"N\"}, \"MarcarTodosCextra\": \"off\"}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/7b7bfe60-cea3-4842-9cbe-b2218416cdf1","executionMode":"production"}}],"Webhook1":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"5276","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.81.29.188","cf-ipcountry":"US","cf-ray":"98b76618299380d3-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"54.81.29.188","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"save.operator\", \"trigger\": 101, \"data\": {\"TOperador\": {\"Fumante\": \"off\", \"Complemento\": \"\", \"PerfAssinatura\": \"off\", \"Nome\": \"TesteWebhook\", \"Recchgrupo\": \"off\", \"Myspace\": \"\", \"Sms\": \"\", \"Assinatura\": \"<p><br></p>\", \"UpSuperior\": \"off\", \"Datanasc\": \"\", \"Telefone\": \"\", \"Horarios\": \"\", \"BloqLoginLocal\": \"off\", \"Autenticacao\": \"0\", \"PerfPermClientes\": \"off\", \"Valorhora\": \"0.00\", \"Email\": \"teste@systemway.com.vc\", \"Admissao\": \"\", \"MudarSenha\": \"off\", \"Visdadospessoais\": \"off\", \"Ramal\": \"\", \"GrupoPrincipal\": \"000001\", \"UpFuncao\": \"off\", \"Bairro\": \"\", \"Horaextra\": \"off\", \"Visgruposemresp\": \"off\", \"Numero\": \"\", \"Sexo\": \"\", \"Chave\": [34], \"Visgrupo\": \"off\", \"PerfGrupoAdcionais\": \"off\", \"Facebook\": \"\", \"Cep\": \"\", \"Upatendcli\": \"off\", \"PadraoUrgencia\": \"\", \"ChamadosMes\": \"\", \"Acesso\": \"off\", \"MapaAtendimento\": \"off\", \"Envchgrupo\": \"off\", \"Horames\": \"\", \"Gerente\": \"off\", \"Admin\": \"off\", \"Cidade\": \"\", \"BoasVindas\": \"off\", \"UpCargo\": \"off\", \"IpInterno\": \"off\", \"Sobrenome\": \"Marotti\", \"Ipcliente\": \"off\", \"Upautocategoria\": \"off\", \"Endereco\": \"\", \"Login\": \"teste.webhook\", \"Uf\": \"\", \"Microsoft\": \"off\", \"PerfPermGrupos\": \"off\", \"Telefone2\": \"\", \"Telefone1\": \"\", \"Google\": \"off\", \"MarcarTodos\": \"off\", \"PerfRestGrupos\": \"off\", \"PerfNegGrupoClientes\": \"off\", \"PadraoImpacto\": \"\", \"Twitter\": \"\", \"Celular2\": \"\", \"PerfRestClientes\": \"off\", \"Linkedin\": \"\", \"Celular1\": \"\", \"Tumblr\": \"\", \"Perfatop\": \"off\", \"Upespecialidade\": \"off\", \"Celular\": \"\", \"Skype\": \"\", \"PerfPermGrupoClientes\": \"off\", \"Email2\": \"\", \"Email3\": \"\", \"Upgempresa\": \"off\", \"Email1\": \"\"}, \"TPermissao\": {\"2712\": \"off\", \"2713\": \"off\", \"2548\": \"off\", \"2716\": \"off\", \"2717\": \"off\", \"2714\": \"off\", \"2715\": \"off\", \"2718\": \"off\", \"2719\": \"off\", \"2602\": \"off\", \"2656\": \"off\", \"2655\": \"off\", \"2654\": \"off\", \"133\": \"off\", \"132\": \"off\", \"131\": \"off\", \"2711\": \"off\", \"137\": \"off\", \"136\": \"off\", \"2605\": \"off\", \"138\": \"off\", \"2323\": \"off\", \"25\": \"off\", \"2321\": \"off\", \"2320\": \"off\", \"2324\": \"off\", \"2170\": \"off\", \"2248\": \"off\", \"2249\": \"off\", \"2246\": \"off\", \"2247\": \"off\", \"2883\": \"off\", \"2408\": \"off\", \"2409\": \"off\", \"2859\": \"off\", \"2858\": \"off\", \"2912\": \"off\", \"2851\": \"off\", \"2850\": \"off\", \"2853\": \"off\", \"2852\": \"off\", \"2855\": \"off\", \"2854\": \"off\", \"2857\": \"off\", \"2629\": \"off\", \"125\": \"off\", \"2799\": \"off\", \"2314\": \"off\", \"2315\": \"off\", \"2313\": \"off\", \"2783\": \"off\", \"2411\": \"off\", \"2410\": \"off\", \"2413\": \"off\", \"2412\": \"off\", \"2415\": \"off\", \"2414\": \"off\", \"2416\": \"off\", \"2253\": \"off\", \"2797\": \"off\", \"2251\": \"off\", \"2250\": \"off\", \"2779\": \"off\", \"2784\": \"off\", \"2443\": \"off\", \"2770\": \"off\", \"2771\": \"off\", \"2772\": \"off\", \"67\": \"off\", \"2568\": \"off\", \"2768\": \"off\", \"2828\": \"off\", \"2829\": \"off\", \"2803\": \"off\", \"2824\": \"off\", \"2827\": \"off\", \"119\": \"off\", \"2821\": \"off\", \"2814\": \"off\", \"2823\": \"off\", \"2543\": \"off\", \"2308\": \"off\", \"2547\": \"off\", \"2546\": \"off\", \"2545\": \"off\", \"2544\": \"off\", \"2445\": \"off\", \"2798\": \"off\", \"2307\": \"off\", \"2172\": \"off\", \"2667\": \"off\", \"2268\": \"off\", \"2171\": \"off\", \"2177\": \"off\", \"2388\": \"off\", \"2178\": \"off\", \"2179\": \"off\", \"2266\": \"off\", \"2267\": \"off\", \"2265\": \"off\", \"2604\": \"off\", \"2289\": \"off\", \"2769\": \"off\", \"2607\": \"off\", \"2444\": \"off\", \"2322\": \"off\", \"2763\": \"off\", \"2767\": \"off\", \"2751\": \"off\", \"2608\": \"off\", \"2766\": \"off\", \"2603\": \"off\", \"2886\": \"off\", \"167\": \"off\", \"2831\": \"off\", \"2830\": \"off\", \"2046\": \"off\", \"2047\": \"off\", \"32\": \"off\", \"37\": \"off\", \"2048\": \"off\", \"2200\": \"off\", \"2169\": \"off\", \"2168\": \"off\", \"2165\": \"off\", \"2164\": \"off\", \"2167\": \"off\", \"2166\": \"off\", \"2161\": \"off\", \"2163\": \"off\", \"2162\": \"off\", \"2860\": \"off\", \"2861\": \"off\", \"2290\": \"off\", \"2862\": \"off\", \"2190\": \"off\", \"2191\": \"off\", \"66\": \"off\", \"2197\": \"off\", \"2802\": \"off\", \"2199\": \"off\", \"2800\": \"off\", \"2801\": \"off\", \"173\": \"off\", \"172\": \"off\", \"2051\": \"off\", \"2050\": \"off\", \"2204\": \"off\", \"2205\": \"off\", \"2884\": \"off\", \"2885\": \"off\", \"2565\": \"off\", \"2567\": \"off\", \"2566\": \"off\", \"2433\": \"off\", \"2369\": \"off\", \"6\": \"off\", \"2367\": \"off\", \"2366\": \"off\", \"2365\": \"off\", \"2364\": \"off\", \"2363\": \"off\", \"2362\": \"off\", \"2361\": \"off\", \"2360\": \"off\", \"2428\": \"off\", \"2429\": \"off\", \"2584\": \"off\", \"2583\": \"off\", \"2627\": \"off\", \"2813\": \"off\", \"2812\": \"off\", \"2628\": \"off\", \"2368\": \"off\", \"2424\": \"off\", \"2425\": \"off\", \"2426\": \"off\", \"2427\": \"off\", \"2183\": \"off\", \"2182\": \"off\", \"2181\": \"off\", \"2180\": \"off\", \"2187\": \"off\", \"2186\": \"off\", \"2185\": \"off\", \"2184\": \"off\", \"91\": \"off\", \"2189\": \"off\", \"2188\": \"off\", \"160\": \"off\", \"10\": \"off\", \"12\": \"off\", \"2899\": \"off\", \"2898\": \"off\", \"2911\": \"off\", \"2895\": \"off\", \"2894\": \"off\", \"2897\": \"off\", \"2896\": \"off\", \"2756\": \"off\", \"2754\": \"off\", \"2755\": \"off\", \"2752\": \"off\", \"2753\": \"off\", \"2577\": \"off\", \"2352\": \"off\", \"2350\": \"off\", \"2734\": \"off\", \"2735\": \"off\", \"2736\": \"off\", \"152\": \"off\", \"2731\": \"off\", \"2732\": \"off\", \"2733\": \"off\", \"159\": \"off\", \"2432\": \"off\", \"2431\": \"off\", \"2430\": \"off\", \"2435\": \"off\", \"2434\": \"off\", \"2811\": \"off\", \"2626\": \"off\", \"2049\": \"off\", \"2810\": \"off\", \"2347\": \"off\", \"2346\": \"off\", \"2341\": \"off\", \"2343\": \"off\", \"2820\": \"off\", \"2822\": \"off\", \"202\": \"off\", \"2721\": \"off\", \"2720\": \"off\", \"76\": \"off\", \"75\": \"off\", \"72\": \"off\", \"2781\": \"off\", \"2856\": \"off\", \"2376\": \"off\", \"2780\": \"off\", \"2377\": \"off\", \"2335\": \"off\", \"2782\": \"off\", \"2887\": \"off\", \"2538\": \"off\", \"2539\": \"off\", \"2372\": \"off\", \"2423\": \"off\", \"2373\": \"off\"}}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/c31928fe-68d1-402e-869e-36ed9ed2026c","executionMode":"production"}}],"Solicitantes":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"85","user-agent":"Python-urllib/2.7","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"44.222.187.42","cf-ipcountry":"US","cf-ray":"98bddbf468e2dda4-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"5b2638ed-9a8d-408f-ba1f-d02bb7186317","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"44.222.187.42","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"{\"action\": \"delete.user\", \"trigger\": 403, \"data\": {\"Chave\": [\"3471\"], \"respedit\": 6}}":""},"webhookUrl":"https://n8n.systemway.com.vc/webhook/fea5778f-8c02-4ba8-a003-8f722b427c0a","executionMode":"production"}}]},"versionId":"5409329c-9d29-4aaf-8949-b3d76fccb035","triggerCount":6,"shared":[{"createdAt":"2025-10-08T13:00:19.564Z","updatedAt":"2025-10-08T13:00:19.564Z","role":"workflow:owner","workflowId":"HfftpQQc9RzxEBZl","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}