hfSTatQoFafruuwh.json
{"createdAt":"2025-07-18T19:03:54.185Z","updatedAt":"2025-10-08T12:52:22.665Z","id":"hfSTatQoFafruuwh","name":"Agente Regional - FORMULARIO RELATORIO","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Formulário relatório","formDescription":"Esse formulário serve para envio do relatório do sistema, para o envio dos templates e a realização dos agendamentos","options":{"buttonLabel":"Seguinte"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"0f6dc88b-c707-4dd8-8b91-f3783999edc1","name":"On form submission","webhookId":"0c7d33cf-542a-4539-8c28-fb489bfff6f2"},{"parameters":{"tableId":"clients_to_schedule","fieldsUi":{"fieldValues":[{"fieldId":"claim_number","fieldValue":"={{ $json.SINISTRO }}"},{"fieldId":"name","fieldValue":"={{ $json.SEGURADO }}"},{"fieldId":"phone","fieldValue":"={{ $json.TELEFONE.toString() }}"},{"fieldId":"product","fieldValue":"={{ $json.PRODUTO }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,192],"id":"f8fc2671-c77a-4c4e-8532-0cbd151916aa","name":"Supabase","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[432,0],"id":"13d9ff3a-e7ee-4abb-8d77-250ee1b3c89c","name":"Extract from File"},{"parameters":{"formFields":{"values":[{"fieldLabel":"data","fieldType":"file"}]},"options":{"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[224,0],"id":"6163613f-1b4f-4d0a-90ff-0debf8d35ce8","name":"Form","webhookId":"6ddcec0f-b704-491e-ac34-2d42c349a7c3"},{"parameters":{"options":{"formDescription":"=Erros:  {{ $json.error.length }}"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[848,0],"id":"a4cd3589-fc04-431f-b702-a483e5bf29ca","name":"Form1","webhookId":"3a33407d-523e-4de8-9bbb-41d06c906781"},{"parameters":{"operation":"getAll","tableId":"clients_to_schedule"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,0],"id":"5fb77978-c0b9-45b8-8c53-b91dbc64f418","name":"Supabase1","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0044524-0344-46bf-ad0b-a27ce6a35865","leftValue":"={{ $json.attempts }}","rightValue":"={{ $now.format('yyyy-MM-dd') }}","operator":{"type":"number","operation":"empty","singleValue":true}},{"id":"c13517c4-74dd-48db-ac32-772d23eef965","leftValue":"={{\n  $json.send_status === \"enviado\" &&\n  $json.attempts < 3 &&  \n  $json.attempt_at.toDateTime().format('yyyy-MM-dd') != $now.format('yyyy-MM-dd')\n}}","rightValue":"enviado","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,0],"id":"8c69b37e-0384-4dcd-a8ff-3e7c4ae249d9","name":"If"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"6617e3c8005d062d14a218cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.phone }}\",\n    \"templateId\": \"6841ebffbd613a710564f48c\",\n     \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.claim_number }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.product }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"fc9aa2df-2c2a-4997-8e56-b5133654424b","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,672],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,672],"id":"44728dae-f3f9-4f9f-b1a2-0a6d86ee1899","name":"Is Invalid Number?"},{"parameters":{"assignments":{"assignments":[{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,912],"id":"b20adbd2-d9c6-4578-8669-c3fd66d38117","name":"Set Error"},{"parameters":{"amount":3},"id":"f30a3709-2479-40dd-be10-db84ca930014","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,592],"webhookId":"bb3a1c88-c0aa-4fe9-90a8-851ea3e99a9e","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"6617e3c8005d062d14a218cd"}]},"options":{}},"id":"783a8337-e32e-4b54-bc20-40894bf24804","name":"Message Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,592],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b7fe8a08-39d8-4948-8c36-8ac4bc9aeb91","leftValue":"={{ $json.status }}","rightValue":-1,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"27e0c3a2-9c53-48c4-ba26-40ec55a33d67","name":"Error Sent?","type":"n8n-nodes-base.if","typeVersion":2,"position":[992,592],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"={{ $json.errorMessage }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,464],"id":"85244fee-c182-46b0-978b-d90effd29b4e","name":"Supabase8","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"=enviado"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1200,704],"id":"d1b277e3-312d-4404-b37d-d3dbab2e804b","name":"Supabase9","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"3c72f6ba-b828-4e2d-975b-d5168dcf0f54","name":"Loop_Cadastro"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,672],"id":"4b272489-82f6-40a4-b871-f37a3a4e4261","name":"Loop_Envio"},{"parameters":{"operation":"update","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","condition":"eq","keyValue":"={{ $('Loop_Envio').first().json.claim_number }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"send_status","fieldValue":"={{ $json.error.message }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,912],"id":"3cd8811a-7685-42db-b322-bdb0d081eb44","name":"Supabase10","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}}],"connections":{"On form submission":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop_Cadastro","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop_Cadastro","type":"main","index":0}]]},"Form1":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Set Error","type":"main","index":0}]]},"Send Template":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Message Status","type":"main","index":0}]]},"Message Status":{"main":[[{"node":"Error Sent?","type":"main","index":0}]]},"Error Sent?":{"main":[[{"node":"Supabase8","type":"main","index":0}],[{"node":"Supabase9","type":"main","index":0}]]},"Loop_Cadastro":{"main":[[{"node":"Form1","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Loop_Envio":{"main":[[],[{"node":"Send Template","type":"main","index":0}]]},"Set Error":{"main":[[{"node":"Supabase10","type":"main","index":0}]]},"Supabase8":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Supabase9":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]},"Supabase10":{"main":[[{"node":"Loop_Envio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"submittedAt":"2025-06-02T12:56:14.592-03:00","formMode":"production"}}]},"versionId":"561d2ce3-8692-4acf-9a21-ee4cc1549271","triggerCount":0,"shared":[{"createdAt":"2025-07-18T19:03:54.185Z","updatedAt":"2025-07-18T19:03:54.185Z","role":"workflow:owner","workflowId":"hfSTatQoFafruuwh","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}