OVzCHYeVAbYhZZoD.json
{"createdAt":"2025-09-15T12:25:38.060Z","updatedAt":"2025-10-13T13:19:37.377Z","id":"OVzCHYeVAbYhZZoD","name":"Agente STW - Response","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,80],"id":"395a83e2-20fc-4e31-8a6c-f345c6b2f635","name":"Payload"},{"parameters":{"jsCode":"const callback = $input.first().json.payload.ia\n\nfunction splitResponse(text){\n  const delimiters = /(?<=\\.\\s)|(?<=!\\s)|(?<=\\?\\s)/\n  return text.split(delimiters).map(item => item.trim()).filter(item => item.length > 0)\n}\nconst messages = splitResponse(callback)\n\nreturn{\n  json: {\n    messages\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,80],"id":"def41676-1ab3-4371-880f-d8bcd773e129","name":"Code"},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,80],"id":"35894c9b-262b-447f-8fad-22fc18d4c69e","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,80],"id":"44d9532d-d527-4c6f-bbcd-a989b8a95877","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68e00796f15e8aa72288f6b8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Payload').item.json.payload.from }}\",\n  \"message\": \"{{ $json.messages }}\",\n  \"isWhisper\": false,\n  \"forceSend\": true,\n  \"verifyContact\": false\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,0],"id":"6a7b6162-4ccb-4226-ab2d-6e3e77eec4c9","name":"SentMessage"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,80],"id":"2022a7c2-3392-4345-898c-1b463ac58f0a","name":"Wait","webhookId":"ad9cc531-8be6-48c0-9f38-deaa0f3642e1"},{"parameters":{"url":"https://api.stw.chat/core/v2/api/sectors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68d408ea506558bc37ecfb4d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-224],"id":"e2785e18-ec6c-4cf9-adf0-78a73cbad8a4","name":"HTTP Request"}],"connections":{"Payload":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"SentMessage","type":"main","index":0}]]},"SentMessage":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Payload":[{"json":{"payload":{"from":"5514974009711","msg":{"chatId":"68c30f88746de04f801d4e81","id":"68c30ffc9c3b0858ac5e5e39","date":"2025-09-15T09:31:41.300-03:00","content":"Bom dia, tudo bem? me cham Vinicius e queria entender melhor sobre a pós e sobre os preços tambem"},"userInfo":{"id":2,"whatsapp":"5514974009711","name":null,"notes":null,"qualify":null,"created_at":"2025-09-11T12:13:42.554101"},"ia":"Bom dia, Vinicius! Tudo ótimo, e com você? Vou te ajudar com as informações sobre a pós-graduação. Antes, posso confirmar seu nome mesmo? E qual é o seu principal interesse na pós?"}}}]},"versionId":"40ba0d45-bcf8-448c-8ff0-0a77bf48ce7e","triggerCount":0,"shared":[{"createdAt":"2025-09-15T12:25:38.060Z","updatedAt":"2025-09-15T12:25:38.060Z","role":"workflow:owner","workflowId":"OVzCHYeVAbYhZZoD","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}