PVEzwiwBMVMavdXU.json
{"createdAt":"2025-07-18T18:56:44.998Z","updatedAt":"2025-10-08T12:49:30.415Z","id":"PVEzwiwBMVMavdXU","name":"Regional Agendamentos - Envio Templates","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1216,464],"id":"ba59f093-2770-487d-a148-af3b58cf0428","name":"Loop Over Items"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"id":"e730664e-9d8d-452f-81d4-c67fc9d8d65c","name":"Get Numbers","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1904,464],"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d435d2a7-53fa-4d60-a068-89b46eda7fd6","leftValue":"={{ $json[\"Erro no envio\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"0153035f-e679-468a-8712-9b6696456834","leftValue":"={{ $json[\"Temp Enviado\"] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fb40cadd-aa4d-459d-90b5-7f0b5eab130c","leftValue":"={{ $json.Agendado }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"3e0d383e-293a-42c8-8c2e-06b676274a73","name":"Is Scheduled?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1696,464]},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $json.Telefone }}\",\n    \"templateId\": \"67d80796031c821c70ee9f47\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json[\"Nome Cliente\"] }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json.Produto }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $json[\"Número Sinistro\"] }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"https://calendly.com/maschetti-vist/agendamento-online1\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"16a71eeb-c3fe-4f30-a96a-52b4abdebe96","name":"Send Template","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,464],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be20e9c-127d-4c57-a097-4231d5272d32","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,464],"id":"f8406e43-2bbe-405d-8a67-ab994a7058ab","name":"Is Invalid Number?"},{"parameters":{"assignments":{"assignments":[{"id":"cc3ef584-7341-4276-8541-9770505af3e4","name":"error.number","value":"={{ $json.error.message.trim().match(/(\\d{11,15})/)[1] }}\n","type":"string"},{"id":"f89a9e57-e8e7-4d74-9ead-a4f09deca87f","name":"error.message","value":"={{ $json.error.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,608],"id":"570a122a-6fcd-47d3-b3a2-727e23495960","name":"Set Error"},{"parameters":{},"id":"56e263c9-f931-434d-8f52-d8a7ad717ed9","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-608,224],"webhookId":"bb3a1c88-c0aa-4fe9-90a8-851ea3e99a9e","onError":"continueRegularOutput"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,384],"id":"1be0d6f8-7b75-46d8-b218-35807d219be2","name":"Wait2","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"f4699753-9873-476c-9056-7b2702c4ac7e","name":"Message Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,224],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b7fe8a08-39d8-4948-8c36-8ac4bc9aeb91","leftValue":"={{ $json.status }}","rightValue":-1,"operator":{"type":"number","operation":"equals"}},{"id":"d435d2a7-53fa-4d60-a068-89b46eda7fd6","leftValue":"={{ $json[\"Erro no envio\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"0419c333-0a31-4094-8b4d-3cbbf9f9d4a4","name":"Error Sent?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,224],"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Temp Enviado","fieldValue":"SIM"},{"column":"Qtde envio Temp","fieldValue":"1"}]},"options":{}},"id":"e604d7fb-7f77-4132-8296-baf9acb05c42","name":"Add Sent Correctly","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[0,384],"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Erro no envio","fieldValue":"={{ $json.errorMessage }}"}]},"options":{}},"id":"0b2e7d88-901a-4443-a4de-7c4f34b5e5e5","name":"Add Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[0,0],"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Loop Over Items').item.json.Telefone }}","fieldsUi":{"values":[{"column":"Erro no envio","fieldValue":"={{ $json.error.message }}"}]},"options":{}},"id":"50f73fc8-d434-49e1-bbab-2aa9bb2f6b86","name":"Error","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-384,608],"alwaysOutputData":true,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"public":true,"initialMessages":"Para disparar, basta digitar \"Ok\"","options":{"subtitle":"Disparador de Mensagem","title":"Automação - Envio dos Templates"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2096,464],"id":"62836509-321f-47bf-99b6-7c02fcf9e041","name":"When chat message received","webhookId":"a6eeb8b3-5673-4f3f-8c6e-a02d545b7c8e"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,48],"id":"e2fa1342-733e-47e9-a453-cf703c298e0c","name":"Wait1","webhookId":"11f3de69-bd88-4571-80c8-f4a8738da65f"},{"parameters":{"maxItems":2000},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1440,464],"id":"298f506e-a01f-4a1b-ba59-5f6236fc8d77","name":"Limit"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-208,608],"id":"35d919d1-6fdf-4f7f-9dd3-0ddfbaeeb804","name":"Wait3","webhookId":"1b7b61fa-5fa9-47b8-886c-74432201900d"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Send Template","type":"main","index":0}]]},"Get Numbers":{"main":[[{"node":"Is Scheduled?","type":"main","index":0}]]},"Is Scheduled?":{"main":[[],[{"node":"Limit","type":"main","index":0}]]},"Send Template":{"main":[[{"node":"Is Invalid Number?","type":"main","index":0}]]},"Is Invalid Number?":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Set Error","type":"main","index":0}]]},"Set Error":{"main":[[{"node":"Error","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Message Status","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Add Sent Correctly","type":"main","index":0}]]},"Message Status":{"main":[[{"node":"Error Sent?","type":"main","index":0}]]},"Error Sent?":{"main":[[{"node":"Add Error","type":"main","index":0}],[{"node":"Add Sent Correctly","type":"main","index":0}]]},"Add Sent Correctly":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Add Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Get Numbers","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Add Error","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dde82856-34f9-40e7-a209-e3fdb32d2f19","triggerCount":1,"shared":[{"createdAt":"2025-07-18T18:56:44.998Z","updatedAt":"2025-07-18T18:56:44.998Z","role":"workflow:owner","workflowId":"PVEzwiwBMVMavdXU","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}