rkuCf47jIKg7DHvY.json
{"createdAt":"2025-07-25T18:43:18.984Z","updatedAt":"2025-10-09T12:30:13.471Z","id":"rkuCf47jIKg7DHvY","name":"Integracao STW Chat e Desk - Salvar Informações","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const rawBody = $json.body;\n\nconst stringifiedJson = Object.keys(rawBody)[0];\n\nconst parsedObject = JSON.parse(stringifiedJson);\n\nreturn [\n  {\n    json: parsedObject\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-1040],"id":"06604a5f-d623-44a8-902e-c46ee058646c","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.trigger }}","rightValue":401,"operator":{"type":"number","operation":"equals"},"id":"6fb4ad93-7adf-450a-876b-53e6f501bfde"}],"combinator":"and"},"renameOutput":true,"outputKey":"criar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"238404df-2717-48cf-a470-389fc44d47df","leftValue":"={{ $json.trigger }}","rightValue":402,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualizar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-80,-944],"id":"4d327338-e74a-440b-9048-aa956603c41b","name":"Switch"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n)\nVALUES (\n  '{{ $('VARS').item.json.chave_solicitante }}',\n  '{{ $('VARS').item.json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"\") }}',\n  '{{ $('VARS').item.json.email }}',\n  '{{ $('VARS').item.json.nome }}',\n  '{{ $('VARS').item.json.sobrenome }}',\n  '{{ $('VARS').item.json.nome_completo }}',\n  '{{ $('VARS').item.json.telefone }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[368,-1040],"id":"8bc22f30-3abf-4886-8335-19b12748d9c7","name":"MySQL","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct cliente from SOLICITANTES_DESK where codigo_cliente = {{ $json.codigo_cliente }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[144,-1040],"id":"6b9d79c7-feef-48db-9304-693491901dff","name":"MySQL1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"assignments":{"assignments":[{"id":"dd802348-208b-4f0b-b43d-c68c4277336d","name":"trigger","value":"={{ $json.trigger }}","type":"number"},{"id":"d1404644-6f25-4f04-8175-ff477ab4510b","name":"chave_solicitante","value":"={{ $json.data.TUsuario.Chave[0] }}","type":"number"},{"id":"1de8f9c5-a516-4b05-a702-ced0faef0661","name":"codigo_cliente","value":"={{ $json.data.TUsuario.CodCliente }}","type":"string"},{"id":"8766d85a-6033-40dc-8691-0ea140e96281","name":"email","value":"={{ $json.data.TUsuario.Email.replace(/'/g, \"\") }}","type":"string"},{"id":"f53e6da9-c9c7-4a68-9808-edbcc6cca9f9","name":"nome","value":"={{ $json.data.TUsuario.Nome.replace(/'/g, \"\") }}","type":"string"},{"id":"867c12a0-2c8a-4f70-82e2-59da70844e49","name":"sobrenome","value":"={{ $json.data.TUsuario.Sobrenome.replace(/'/g, \"''\") }}","type":"string"},{"id":"1e43bcdd-a656-4c6e-8495-16fd70fc7be1","name":"nome_completo","value":"={{ $json.data.TUsuario.Nome.replace(/'/g, \"\") + ($json.data.TUsuario.Sobrenome ? ' ' + $json.data.TUsuario.Sobrenome.replace(/'/g, \"\") : '') }}","type":"string"},{"id":"66b8dbb7-a1d5-470a-a19c-03479f72535c","name":"telefone","value":"={{ $json.data.TUsuario.SMS }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-944],"id":"ac51711d-6c33-4288-80de-2460021f673b","name":"VARS"},{"parameters":{"operation":"executeQuery","query":"delete from SOLICITANTES_DESK where chave = '{{ $json.data.Chave[0] }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-304,-1136],"id":"42c711fd-e230-4069-aa35-734080073d71","name":"MySQL3","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"select distinct cliente from SOLICITANTES_DESK where codigo_cliente = {{ $json.codigo_cliente }}","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[144,-832],"id":"446beb2f-7079-4635-a6fd-16bd69544a53","name":"MySQL4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd6128ef-4098-4605-aa18-e5507510280d","leftValue":"={{ $json.trigger }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,-1040],"id":"a03005a6-11da-429d-b180-41137ba78fe8","name":"If"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-880,1152],"id":"969cbdea-27b3-4cd3-b9da-c1a1ec273334","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - STW Salvar Solicitantes","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-656,1152],"id":"9156beff-f918-40a9-9aae-71ac6948672f","name":"Microsoft Outlook1","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\nconst request = {\n  url: \"https://api.desk.ms/AutoCategorias/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst data = response.root || [];\n\n// Filtra e transforma os dados\nconst resultado = data\n  .filter(item => typeof item.Assunto === 'string' && item.Assunto.includes(' - '))\n  .map(item => {\n    const partes = item.Assunto.split(' - ').map(p => p.trim());\n\n    return {\n      chave: item.Chave || null,\n      categoria: partes[0] || '',\n      subcategoria: partes[1] || '',\n      tipo: partes[2] || ''\n    };\n  });\n\nreturn resultado.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,48],"id":"73b4d9ce-4e05-4504-af91-47b43ed5b3a5","name":"Code3","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,48],"id":"f903b3bd-9aea-469f-a0e2-79781d65d239","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,48],"id":"f2bcc57c-8661-4e34-8b1c-28b873f19fe7","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,48],"id":"08ce6384-a590-4915-b3c4-ac720b97c5ac","name":"getToken1"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"AUTO_CATEGORIA_DESK","mode":"list","cachedResultName":"AUTO_CATEGORIA_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-640,48],"id":"7f2f7b39-dc2d-41b6-adef-9b196cfd77dd","name":"delete","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO AUTO_CATEGORIA_DESK (chave, categoria, sub_categoria, tipo, assunto_completo, data_atualizacao)\nVALUES ('{{ $json.chave.toString() }}', '{{ $json.categoria }}', '{{ $json.subcategoria }}', '{{ $json.tipo }}', '{{ $json.categoria }} - {{ $json.subcategoria }} - {{ $json.tipo }}', '{{ $now }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[240,48],"id":"f2cc9911-8256-481a-aed6-f024d1c0ecf1","name":"insert","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst operadoresRequest = {\n  url: \"https://api.desk.ms/Operadores/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst operadoresResponse = await this.helpers.httpRequest(operadoresRequest);\nconst operadores = operadoresResponse.root || [];\n\nconst gruposRequest = {\n  url: \"https://api.desk.ms/Grupos/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst gruposResponse = await this.helpers.httpRequest(gruposRequest);\nconst grupos = gruposResponse.root || [];\n\nconst grupoMap = {};\nfor (const grupo of grupos) {\n  grupoMap[grupo.Nome.trim()] = grupo.Chave;\n}\n\nconst resultado = operadores.map(item => {\n  const grupoNome = item.GrupoPrincipal?.trim();\n  const grupoChave = grupoMap[grupoNome] || null;\n\n  return{\n    chave: item.Chave,\n    nome: item.Nome,\n    sobrenome: item.Sobrenome,\n    email: item.Email,\n    grupoPrincipal: grupoNome,\n    chaveGrupo: grupoChave\n  }\n});\n\nreturn resultado.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-336],"id":"3907e2eb-c4f6-4f65-8cc9-39a88c033001","name":"Code5","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-336],"id":"24b5b2b2-6939-430a-90c4-de6d77df3d56","name":"Loop Over Items1"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,-336],"id":"a9474194-2bfa-46ad-bf76-38b73e44c825","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-336],"id":"20f82e22-2dcf-4086-98e9-39dd19c6827b","name":"getToken2"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"OPERADORES_DESK","mode":"list","cachedResultName":"OPERADORES_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-624,-336],"id":"b71044f0-d2c8-454f-9853-c5bbcc790e4c","name":"delete1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO OPERADORES_DESK (chave, nome, sobrenome, email, grupo, data_atualizacao, nome_completo, chaveGrupo)\nVALUES ('{{ $json.chave.toString() }}', '{{ $json.nome }}', '{{ $json.sobrenome }}', '{{ $json.email }}', '{{ $json.grupoPrincipal }}', '{{ $now }}', '{{ $json.nome }} {{ $json.sobrenome }}', '{{ $json.chaveGrupo }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[272,-336],"id":"456ce9ea-9881-4a30-bfb0-556e670fb290","name":"insert1","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data)\n\nconst request = {\n  url: \"https://api.desk.ms/Status/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"1\"\n  }\n};\n\nconst response = await this.helpers.httpRequest(request);\nconst status = response.root || [];\n\nreturn status.map(item => ({\n  json: item\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,432],"id":"5b123ce1-4aee-4963-a585-f8f9fe6ce52d","name":"Code7","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,432],"id":"2f4f8759-b266-42b5-a4f5-2e20af54dff1","name":"Loop Over Items3"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,432],"id":"71975c26-3567-42d2-925e-29305393e435","name":"Schedule Trigger3"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,432],"id":"c931e0eb-a80e-4376-a2aa-fa550877a62b","name":"getToken5"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"STATUS_DESK","mode":"list","cachedResultName":"STATUS_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-640,432],"id":"9170b56a-bfa4-4361-9596-1a09063b1eb4","name":"delete3","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO STATUS_DESK (chave, sequencia, status, data_atualizacao)\nVALUES ('{{ $json.Chave }}', '{{ $json.Sequencia }}', '{{ $json.Nome }}', '{{ $now }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[240,432],"id":"437edef0-bca6-4511-bdca-4bf024e50d25","name":"insert3","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Buscar todos os grupos\nconst requestGroupsList = {\n  url: \"https://api.desk.ms/GrupoEmpresas/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  }\n};\n\nconst responseGroupLists = await this.helpers.httpRequest(requestGroupsList);\nconst groupLists = responseGroupLists.root || [];\n\n// 2. Para cada grupo, buscar as empresas e montar a lista única de empresas+grupo\nlet empresas = [];\n\nfor (const grupo of groupLists) {\n  const requestEmpresas = {\n    url: \"https://api.desk.ms/GrupoEmpresas\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      \"Chave\": grupo.Sequencia\n    }\n  };\n\n  const responseEmpresas = await this.helpers.httpRequest(requestEmpresas);\n  const infoGrupo = responseEmpresas.TGrupoEmpresa || {};\n  const listaEmpresas = infoGrupo.ListaEmpresas || [];\n\n  listaEmpresas.forEach(emp => {\n    empresas.push({\n      empresa_id: emp.id,\n      name: emp.text,\n      grupo_nome: grupo.Nome,\n      codigo_sequencia: grupo.Sequencia\n    });\n  });\n}\n\n// 3. Retornar uma empresa por item\nreturn empresas.map(item => ({ json: item }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,832],"id":"63d49ee6-351c-45a4-9255-174e877aabd4","name":"Code8","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,832],"id":"3f92b842-511c-4201-8d83-27772cb0d4c0","name":"Loop Over Items4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,832],"id":"a2dbdaab-d0fb-4300-8071-3e622d9a85ec","name":"Schedule Trigger4"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,832],"id":"4bec5566-4bfe-407e-bdd9-aa466f7b8ee6","name":"getToken6"},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"GRUPO_EMPRESAS_DESK","mode":"list","cachedResultName":"GRUPO_EMPRESAS_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[-656,832],"id":"8a999200-01d8-4835-9aaa-2d887b0f41dc","name":"delete4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO GRUPO_EMPRESAS_DESK (empresa_id, empresa_nome, grupo_nome, grupo_sequencia, data_atualizacao)\nVALUES ('{{ $json.empresa_id }}', '{{ $json.name.replace(/'/g, \"''\") }}', '{{ $json.grupo_nome.replace(/'/g, \"\") }}', '{{ $json.codigo_sequencia }}', '{{ $now.format('dd-MM-yyyy') }}');","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[224,832],"id":"0b94c56d-d7c6-47a6-a9a9-1a1215c99bb1","name":"insert4","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"content":"# Salvar Solicitantes Desk no DB e STW Chat","height":728,"width":1560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-1216],"id":"beb51c2b-e8ce-47d9-8789-602815d382aa","name":"Sticky Note"},{"parameters":{"jsCode":"const token = JSON.parse($input.first().json.data);\n\n// 1. Lista de usuários\nconst requestList = {\n  url: \"https://api.desk.ms/Usuarios/lista\",\n  method: \"POST\",\n  headers: {\n    \"Authorization\": token,\n    \"Content-Type\": \"application/json\"\n  },\n  body: {\n    \"Pesquisa\": \"\",\n    \"Ativo\": \"S\"\n  },\n  json: true\n};\n\nconst responseList = await this.helpers.httpRequest(requestList);\nconst data = responseList.root || [];\n\n// 2. Faz requisições em paralelo usando Promise.all\nconst resultados = await Promise.all(data.map(async (item) => {\n  const chave = item.Chave;\n\n  const requestDetail = {\n    url: \"https://api.desk.ms/Usuarios\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": token,\n      \"Content-Type\": \"application/json\"\n    },\n    body: {\n      Chave: chave\n    },\n    json: true\n  };\n\n  try {\n    const responseDetail = await this.helpers.httpRequest(requestDetail);\n    const telefone = responseDetail?.TUsuario?.SMSNumero || \"\";\n\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone\n      }\n    };\n  } catch (err) {\n    return {\n      json: {\n        chave: item.Chave,\n        codigo_cliente: item.CodigoCliente,\n        cliente: item.Cliente,\n        email: item.Email,\n        nome: item.Nome,\n        sobrenome: item.Sobrenome,\n        telefone: \"\"\n      }\n    };\n  }\n}));\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-864],"id":"e6e50655-803a-486c-a1b8-a6cdb5c86604","name":"Code6","alwaysOutputData":true,"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1520,-864],"id":"536b7edf-76f4-4df9-8e1a-f08f5f7f67c8","name":"Loop Over Items2","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[640,-864],"id":"134ba47e-c53f-467b-be7a-bc2c78989a92","name":"Schedule Trigger2","disabled":true},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,-864],"id":"7b3f2082-1e35-4b1e-85ec-22299e0d161b","name":"getToken4","disabled":true},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"SOLICITANTES_DESK","mode":"list","cachedResultName":"SOLICITANTES_DESK"},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[864,-864],"id":"35614b76-f86a-4375-9c28-ab0e27e9255d","name":"delete2","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}},"disabled":true},{"parameters":{"content":"# Salvar Operadores Desk","height":320,"width":1560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-448],"id":"de60b77e-3c31-4593-a676-6cafcc8425d3","name":"Sticky Note2"},{"parameters":{"content":"# Salvar Auto Categoria Desk","height":320,"width":1560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,-64],"id":"8c967297-d2e1-4999-b176-37eaae2470fa","name":"Sticky Note3"},{"parameters":{"content":"# Salvar Status Desk","height":320,"width":1560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,320],"id":"1a32c165-9967-4b12-8388-0ef8c4ea9b42","name":"Sticky Note4"},{"parameters":{"content":"# Salvar Grupo Empresas Desk","height":340,"width":1560,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1008,704],"id":"44e20b78-2e74-40df-ab5f-423f2c683b1d","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"689a61a95706d77b7eb722cb"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $('VARS').item.json.nome }}\",\n  \"number\": \"{{ $('VARS').item.json.telefone }}\",\n  \"updateIfExists\": true\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-1200],"id":"d2c5e514-c004-49e3-a22f-5dc98f819f98","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/contacts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"689a61a95706d77b7eb722cb"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nickName\": \"{{ $('VARS').item.json.nome }}\",\n  \"number\": \"{{ $('VARS').item.json.telefone }}\",\n  \"updateIfExists\": true\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-672],"id":"513588ee-d0e0-494f-bb68-7c5deda9905f","name":"HTTP Request1"},{"parameters":{"operation":"executeQuery","query":"update SOLICITANTES_DESK set codigo_cliente = '{{ $('VARS').item.json.codigo_cliente }}', cliente = '{{ $json.cliente.replace(/'/g, \"\") }}', email = '{{ $('VARS').item.json.email }}', nome = '{{ $('VARS').item.json.nome }}', sobrenome = '{{ $('VARS').item.json.sobrenome }}', nome_completo = '{{ $('VARS').item.json.nome_completo }}', telefone = '{{ $('VARS').item.json.telefone }}' where chave = '{{ $('VARS').item.json.chave_solicitante }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[368,-832],"id":"27f08411-ebd6-442b-8818-6b037c4118ed","name":"Execute a SQL query","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n)\nVALUES (\n  '{{ $json.chave }}',\n  '{{ $json.codigo_cliente }}',\n  '{{ $json.cliente.replace(/'/g, \"\") }}',\n  '{{ $json.email.replace(/'/g, \"\") }}',\n  '{{ $json.nome.replace(/'/g, \"\") }}',\n  '{{ $json.sobrenome.replace(/'/g, \"\") }}',\n   '{{(() => {\n      const nome = $json.nome || \"\";\n      const sobrenome = $json.sobrenome || \"\";\n      const nomeCompleto = sobrenome ? `${nome} ${sobrenome}` : nome;\n      return nomeCompleto.replace(/'/g, \"''\").substring(0, 100);\n    })()}}',\n  '{{ $json.telefone }}'\n)\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1776,-880],"id":"4b6f08d4-d806-4bcd-b65a-67548e510d15","name":"insert5","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO SOLICITANTES_DESK (\n  chave,\n  codigo_cliente,\n  cliente,\n  email,\n  nome,\n  sobrenome,\n  nome_completo,\n  telefone\n) VALUES ($1, $2, $3, $4, $5, $6, $7, $8);\n","options":{"queryReplacement":"={{$json.chave}},{{$json.codigo_cliente}},{{$json.cliente}},{{$json.email}},{{$json.nome}},{{$json.sobrenome}},{{($json.sobrenome ? ($json.nome || \"\") + \" \" + $json.sobrenome : ($json.nome || \"\")).slice(0,100)}},{{$json.telefone}}"}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[1536,-1056],"id":"7cf7ed80-ad1f-4a1e-8e2c-b869a9ee5fbb","name":"insert2","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE STATUS_DESK\nSET is_enabled = CASE\n  WHEN chave IN ('1330','371','368') THEN 0\n  ELSE 1\nEND;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[352,336],"id":"6d5b3491-6324-4e0a-b519-95f4734a1196","name":"is_enabled","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"httpMethod":"POST","path":"3e1f16b7-bf09-43d9-8135-da3b2444a60d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,-1040],"id":"516d3a46-db22-4156-8d5b-ab856817c31b","name":"Webhook","webhookId":"3e1f16b7-bf09-43d9-8135-da3b2444a60d"}],"connections":{"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[{"node":"MySQL1","type":"main","index":0}],[{"node":"MySQL4","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"VARS":{"main":[[{"node":"Switch","type":"main","index":0}]]},"MySQL4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"If":{"main":[[{"node":"MySQL3","type":"main","index":0}],[{"node":"VARS","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"insert","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"delete","type":"main","index":0}]]},"getToken1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"delete":{"main":[[{"node":"getToken1","type":"main","index":0}]]},"insert":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"insert1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"delete1","type":"main","index":0}]]},"getToken2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"delete1":{"main":[[{"node":"getToken2","type":"main","index":0}]]},"insert1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"is_enabled","type":"main","index":0}],[{"node":"insert3","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"delete3","type":"main","index":0}]]},"getToken5":{"main":[[{"node":"Code7","type":"main","index":0}]]},"delete3":{"main":[[{"node":"getToken5","type":"main","index":0}]]},"insert3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"insert4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"delete4","type":"main","index":0}]]},"getToken6":{"main":[[{"node":"Code8","type":"main","index":0}]]},"delete4":{"main":[[{"node":"getToken6","type":"main","index":0}]]},"insert4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"insert5","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"delete2","type":"main","index":0}]]},"getToken4":{"main":[[{"node":"Code6","type":"main","index":0}]]},"delete2":{"main":[[{"node":"getToken4","type":"main","index":0}]]},"MySQL":{"main":[[]]},"Execute a SQL query":{"main":[[]]},"insert2":{"main":[[]]},"insert5":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0984069-065e-4dbb-9ccc-8a6afd71dbd3","triggerCount":5,"shared":[{"createdAt":"2025-07-25T18:43:18.984Z","updatedAt":"2025-07-25T18:43:18.984Z","role":"workflow:owner","workflowId":"rkuCf47jIKg7DHvY","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}