SUHlqqgkbxgJEULr.json
{"createdAt":"2025-09-12T15:33:44.224Z","updatedAt":"2025-10-08T12:47:35.168Z","id":"SUHlqqgkbxgJEULr","name":"Agente STW - MessageQueue","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,32],"id":"17d0b924-1b4b-4663-afc5-5660db744e40","name":"Payload"},{"parameters":{"operation":"push","list":"={{ $json.payload.from }}_messages","messageData":"={{ JSON.stringify($json.payload.msg) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[224,32],"id":"83b75616-cc85-425c-bd2d-306add02d1d5","name":"AddToQueue","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"delete","key":"5514974009711_messages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[0,448],"id":"a921df57-3bdc-49c4-9583-9fae857ca2b7","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $node['Payload'].json.payload.from }}_messages","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[448,32],"id":"53b6b8f4-ca03-48cc-bbf3-fa53278cba86","name":"Redis1","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ JSON.parse($json.messages.first()).id }}","rightValue":"={{ $node['Payload'].json.payload.msg.id }}","operator":{"type":"string","operation":"notEquals"},"id":"3055d953-836a-40b2-8208-c35043bfdbbf"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ignore"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6be59748-2e8b-4af9-a22b-14b823ff9a99","leftValue":"={{ JSON.parse($json.messages.last()).date }}","rightValue":"={{ $now.minus(15, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Continue"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Wait"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[672,16],"id":"70a4d650-1f7b-42c5-8bd7-221f3e2f9440","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,224],"id":"ab2707ba-f171-45da-a209-6d02f39b5fa5","name":"Wait","webhookId":"83a78144-d9e2-48f8-8ffe-04e90015f254"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"307adc79-b8cb-4cbf-8d52-9681061811c2","leftValue":"={{ $json.messages }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"ee979559-027a-4cd4-8abb-e64bd71f125e","leftValue":"={{ $json.messages }}","rightValue":1,"operator":{"type":"array","operation":"lengthLte","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[896,-160],"id":"65c8179f-adbc-4f47-abeb-cb0ce1cd50db","name":"KeepWaiting"},{"parameters":{"operation":"delete","key":"={{ $node['Payload'].json.payload.from }}_messages"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[896,32],"id":"c65bb1bc-094f-4f94-8d5b-bef5e0654cd2","name":"CleanUp","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"04659102-e7e2-457f-97a5-fe7d633c6c7a","name":"message","value":"={{ $json.messages.map(item => JSON.parse(item).content).join(\" \") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,32],"id":"7705c9df-b16f-4591-9b8a-79b2531d86ca","name":"Output"}],"connections":{"Payload":{"main":[[{"node":"AddToQueue","type":"main","index":0}]]},"AddToQueue":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"KeepWaiting","type":"main","index":0}],[{"node":"CleanUp","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"CleanUp":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Payload":[{"json":{"payload":{"from":"5514974009711","msg":{"chatId":"68c30f88746de04f801d4e81","id":"68c30ffc9c3b0858ac5e5e39","date":"2025-09-12T12:35:24.375-03:00","content":"Preciso falar no suporte"},"userInfo":{"id":2,"whatsapp":"5514974009711","name":null,"notes":null,"qualify":null,"created_at":"2025-09-11T12:13:42.554101"}}}}]},"versionId":"895e5cf5-9697-4baf-8148-18f596f76d31","triggerCount":0,"shared":[{"createdAt":"2025-09-12T15:33:44.224Z","updatedAt":"2025-09-12T15:33:44.224Z","role":"workflow:owner","workflowId":"SUHlqqgkbxgJEULr","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}