tcadJHMYo1yPFEYG.json
{"createdAt":"2025-07-18T18:58:27.558Z","updatedAt":"2025-10-08T12:49:20.698Z","id":"tcadJHMYo1yPFEYG","name":"Regional Agendamentos - Interacao Template","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"038d7b71-ccdf-48f2-abdf-1afe0c46d642","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,208],"id":"6e106f8a-b40d-45a3-bba1-0291c33399e1","name":"If"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"options":{}},"id":"ceb2364f-0bf7-48b6-a4d5-0c0a47b07005","name":"Verificação numero","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[832,208],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.all();\n\nconst formattedphone = parseInt($('Status Chat').first().json.contact.number, 10);\n\nif (Array.isArray(data)) {\n    const phoneNumbers = data.map(item => item.json.Telefone).filter(phone => phone);\n\n    const exists = phoneNumbers.includes(formattedphone);\n    return {\n        json: { exists: exists }\n    };\n} else {\n    return {\n        json: { exists: false }\n    };\n}\n"},"id":"644502cf-425a-4fa4-8069-d99bc5c74a70","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,208]},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Status Chat').first().json.contact.number }}","fieldsUi":{"values":[{"column":"Interagiu na msg","fieldValue":"=INTERAGIU"}]},"options":{}},"id":"3ebda509-919a-4fa2-9b45-a7f6aec72690","name":"Atualiza se interagiu","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1472,128],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"457c6aa3-f252-42dd-873f-06b71e881844","leftValue":"={{ $json.isTargetMsg }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,320],"id":"28cc773c-1590-471a-8365-ad7c3b8cb477","name":"If1"},{"parameters":{"httpMethod":"POST","path":"73deea39-616c-4e2a-8572-cd73497cc5cd","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,320],"id":"d764f3b1-5b3b-49f2-ac3f-52dd0a6fdebf","name":"Webhook","webhookId":"73deea39-616c-4e2a-8572-cd73497cc5cd"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/messages/{{ $json.messageSentId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"e9330fcf-841a-4e29-bf36-b11b62a5b4bf","name":"HTTP Status mensagem2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.stw.chat/core/v2/api/chats/{{ $json.chat_codigo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,320],"id":"54128532-da8b-44b9-b4ec-fdf921f9c003","name":"Status Chat"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"5514997026975\",\n    \"templateId\": \"67bcfa917529da1c46339f7d\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Vinicius\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Produto X\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"Sinistro X\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"https://calendly.com/maschetti-vist/agendamento-online1\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  \n","options":{}},"id":"e9799ae0-0ab8-48ed-ae1f-155d33795811","name":"HTTP Envio mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"aa201988-dff0-4e22-a0d0-ac049dc54142","name":"chat_codigo","value":"={{ $json.body.chat_codigo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,320],"id":"9fe36c67-e94e-49c2-b766-36a1e0a155d8","name":"Edit Fields"},{"parameters":{"jsCode":"const messages = $input.first().json.messages\nconst phoneNumber = $input.first().json.contact.number\nlet firstMessageIsFaleConosco  = false\nif (messages && messages.length > 0){\n  firstMessageIsFaleConosco = messages?.find(mgs => !mgs.isSentByMe)?.text?.toLowerCase() === \"fale conosco\";\n}\n\nreturn{\n  isTargetMsg: firstMessageIsFaleConosco,\n  phoneNumber: phoneNumber\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,320],"id":"571823b4-f05b-4fb5-9b68-8e1d7961b53b","name":"Code"}],"connections":{"If":{"main":[[{"node":"Atualiza se interagiu","type":"main","index":0}]]},"Verificação numero":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Verificação numero","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status Chat":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Envio mensagem":{"main":[[{"node":"HTTP Status mensagem2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Status Chat","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.systemway.com.vc","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","content-length":"183","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"49.13.65.79","cf-ipcountry":"DE","cf-ray":"92ad302f09963814-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"29bfab27-86f4-4fa9-a33c-7c8b34e6df8e","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"49.13.65.79","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"ScriptName":"Interação com o Template","tipoLog":"INFO","Message":"Chat Acionado","Script":"console.log(teste)","usuario":"@usuario.nome","chat_codigo":"67ef3c3f7309e1cfcb7661c0"},"webhookUrl":"https://n8n.systemway.com.vc/webhook/73deea39-616c-4e2a-8572-cd73497cc5cd","executionMode":"production"}}]},"versionId":"7f18b4e2-ade4-443e-a7a1-e41f5ad0f01d","triggerCount":1,"shared":[{"createdAt":"2025-07-18T18:58:27.558Z","updatedAt":"2025-07-18T18:58:27.558Z","role":"workflow:owner","workflowId":"tcadJHMYo1yPFEYG","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}