Tecwx6kkOAYYW4V1.json
{"createdAt":"2025-07-18T19:17:44.103Z","updatedAt":"2025-10-08T12:54:32.942Z","id":"Tecwx6kkOAYYW4V1","name":"SystemWay - BACKUP FIREWALL","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"70fff6d6-9849-495e-8a4a-6645b64ba787","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"list"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[224,0],"id":"74504e3a-79cc-4b07-aaed-8eeb31f4b9aa","name":"FTP","credentials":{"ftp":{"id":"AHKOALrFjQP3CnJf","name":"FTP account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,0],"id":"680f9b41-bba5-4364-83d8-3c165ebc455e","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3cf3ff0a-65a5-43ec-beb3-27a9dad0f516","leftValue":"={{ $json.name !== '0 - Arquivo Morto' && $json.name !== 'Aker Control Center 34 - Windows EXE.rar' && $json.name !== 'Backup FTP FileZilla' }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"e62a7197-c522-4d44-bdee-aa312b1a478f","name":"If"},{"parameters":{"operation":"list","path":"=/{{ $json.name }}"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[880,80],"id":"7ee8761a-d2b8-4bd8-b5ab-19c638e80099","name":"FTP1","credentials":{"ftp":{"id":"AHKOALrFjQP3CnJf","name":"FTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61cf0713-1257-4556-bf79-e14f670ae8b4","leftValue":"={{(() => {   const fileDate = new Date($json.modifyTime);\nconst now = new Date();\nconst diff = (now - fileDate) / (1000 * 60 * 60 * 24);\nreturn diff <= 7; \n})()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,80],"id":"9c2b6ba4-a76a-4632-a339-73eae4e32caf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"86e8e82d-f826-451d-8a75-9122bdf60a06","name":"size","value":"={{ $json.size }}","type":"number"},{"id":"01facf29-453b-4d57-a10e-1355f7f40266","name":"modifyTime","value":"={{ $json.modifyTime.toDateTime().format('dd/MM/yyyy t') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,80],"id":"031b1910-d807-4fa9-a39f-63e663833d7c","name":"Edit Fields"},{"parameters":{"jsCode":"const backups = $input.all();\nconst tamanho_hoje = backups[backups.length - 1].json.size;\n\nconst tamanhos_anteriores = backups.slice(0, -1).map(item => item.json.size);\n\nconst media_anteriores = tamanhos_anteriores.reduce((a, b) => a + b, 0) / tamanhos_anteriores.length;\n\nconst variacao = ((tamanho_hoje - media_anteriores) / media_anteriores) * 100;\n\nconst status = Math.abs(variacao) > 20 ? 'ALERTA' : 'OK';\n\nreturn [\n  {\n    json: {\n      tamanho_hoje,\n      media_anteriores,\n      variacao_percentual: variacao.toFixed(2) + '%',\n      status\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,80],"id":"dcc4b22e-50f2-4c6a-bc8a-78ff75361d0e","name":"Code"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"FTP","type":"main","index":0}]]},"FTP":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"FTP1","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"FTP1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df17485c-6a9d-41cc-beda-65ac6b39f156","triggerCount":0,"shared":[{"createdAt":"2025-07-18T19:17:44.103Z","updatedAt":"2025-07-18T19:17:44.103Z","role":"workflow:owner","workflowId":"Tecwx6kkOAYYW4V1","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}