tlj5zHxMKGY71leA.json
{"createdAt":"2025-09-11T13:16:14.384Z","updatedAt":"2025-10-08T12:47:42.312Z","id":"tlj5zHxMKGY71leA","name":"Agente STW - ParseMessage","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,-32],"id":"1715d21a-f5a8-439a-ae8e-40c10c1e2026","name":"Payload"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.payload.messageType }}","rightValue":0,"operator":{"type":"number","operation":"equals"},"id":"3ab9841c-20de-4e33-b23b-e0e5c4f37a8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b7e2d4e-b5a5-4bc8-aad0-395daef16e50","leftValue":"={{ $json.payload.messageType }}","rightValue":"={{ 1 || 2 }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8a7c402-dcb7-4501-ad53-e7f27b24dd88","leftValue":"={{ $json.payload.messageType }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[208,-48],"id":"816fcca9-d2bf-410c-8652-7021284e7778","name":"MessageType"},{"parameters":{"assignments":{"assignments":[{"id":"7f48912a-3302-483e-a1b4-73ea5aadc646","name":"content","value":"={{ $json.payload.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-224],"id":"6b4c02d2-8264-4294-acb4-5899df9f689e","name":"MessageText"},{"parameters":{"jsCode":"for (const item of items) {\n  if (!item.binary || !item.binary.data) continue;\n  const b = item.binary.data;\n  const original = b.fileName || 'audio.opus';\n  b.fileName = original.replace(/\\.opus$/i, '.ogg');\n  b.mimeType = 'audio/ogg';\n}\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-32],"id":"825372a8-a25c-4156-af6d-c63731b17500","name":"Code"},{"parameters":{"url":"={{ $json.payload.mediaLink }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,-32],"id":"e5fa2c7a-f1ee-48c7-b24d-528dc6461051","name":"ConvertToFile"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-32],"id":"99dd3266-9b73-46ca-9412-8c86e5b7902a","name":"TranscribeAudio","credentials":{"openAiApi":{"id":"hWjtbfSt0pr2d7f4","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"835b5498-529a-4c90-9e8d-2b741ac7c9ad","name":"content","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,-32],"id":"13b585f7-0d75-4b78-937e-885123e4688f","name":"AudioToContent"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Descreva o que tem na imagem para auxiliar um agente de IA que irá utilizar sua descrição","imageUrls":"={{ $json.payload.mediaLink }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,160],"id":"d9c2c223-b105-43eb-89e8-9d16a78f74ee","name":"TranscribeAudio1","credentials":{"openAiApi":{"id":"hWjtbfSt0pr2d7f4","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"835b5498-529a-4c90-9e8d-2b741ac7c9ad","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,160],"id":"2b9a9555-c879-442e-add3-7dcda92ffffa","name":"ImageToContent"}],"connections":{"Payload":{"main":[[{"node":"MessageType","type":"main","index":0}]]},"MessageType":{"main":[[{"node":"MessageText","type":"main","index":0}],[{"node":"ConvertToFile","type":"main","index":0}],[{"node":"TranscribeAudio1","type":"main","index":0}]]},"Code":{"main":[[{"node":"TranscribeAudio","type":"main","index":0}]]},"ConvertToFile":{"main":[[{"node":"Code","type":"main","index":0}]]},"TranscribeAudio":{"main":[[{"node":"AudioToContent","type":"main","index":0}]]},"TranscribeAudio1":{"main":[[{"node":"ImageToContent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Payload":[{"json":{"payload":{"messageType":3,"text":null,"mediaLink":"https://axy7gbdyolcg.compat.objectstorage.eu-frankfurt-1.oraclecloud.com/media01/public/system/661705879d62eb234c71882b/chat/1423622018696803.jpg"}}}]},"versionId":"35ece49b-a94e-4041-8373-d1d4d0d15d28","triggerCount":0,"shared":[{"createdAt":"2025-09-11T13:16:14.384Z","updatedAt":"2025-09-11T13:16:14.384Z","role":"workflow:owner","workflowId":"tlj5zHxMKGY71leA","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}