uS7X62ygKerECKqd.json
{"createdAt":"2025-07-18T18:49:23.777Z","updatedAt":"2025-10-14T14:21:59.713Z","id":"uS7X62ygKerECKqd","name":"Regional Agendamentos - Agendamento Calendly","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"TRATATIVA DOS DADOS VINDO DO TRIGGER","height":200,"width":800,"color":6},"type":"n8n-nodes-base.stickyNote","position":[192,672],"typeVersion":1,"id":"b9774138-b07f-4e33-bf00-73a69682f618","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"819cd417-23b5-4ed2-9737-63ac1e48e8b4","name":"event.created_at","value":"={{ $json.created_at }}","type":"string"},{"id":"a812dc2c-e31c-4cdb-84f6-c806eddfa005","name":"event.event","value":"={{ $json.event }}","type":"string"},{"id":"4fbbb2d8-541f-4fe7-8a7b-ad56a91e97e9","name":"user.phoneNumber","value":"={{ $json.payload.questions_and_answers[0].answer }}","type":"string"},{"id":"28280887-a199-4e92-bdca-6696d4c356c8","name":"user.name","value":"={{ $json.payload.name }}","type":"string"},{"id":"daff0fb9-a49d-40ea-8b3e-df63d7aa78f7","name":"payload.cancel_url","value":"={{ $json.payload.cancel_url }}","type":"string"},{"id":"b41acd4b-a408-4bef-9688-6b21293b5645","name":"payload.reschedule_url","value":"={{ $json.payload.reschedule_url }}","type":"string"},{"id":"3291c773-167a-4b7b-a747-dc89a1a16464","name":"evento.data_evento","value":"={{ $json.payload.scheduled_event.start_time }}","type":"string"},{"id":"da6294af-8007-4ad1-a046-97e3fe082ce0","name":"=event.rescheduled","value":"={{ $json.payload.rescheduled }}","type":"string"},{"id":"a37a7097-bf20-4deb-9a5b-d4fa8d4d177a","name":"type_event","value":"={{ \n  $json.event === 'invitee.canceled' ? 'Cancelado' : $json.event === 'invitee.created' && !$json.payload.old_invitee ? 'Agendado' : 'Reagendado'\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,720],"id":"3ccb0f4a-4b28-4051-a2d4-4da338ef68f2","name":"Variaveis"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst startTime = data.evento.data_evento;\n\nconst startTimeDate = new Date(startTime);\nstartTimeDate.setMinutes(startTimeDate.getMinutes() - 60);\nconst messageScheduledTime = startTimeDate.toISOString();\n\nconst dateObj = new Date(startTime);\ndateObj.setHours(dateObj.getHours() - 3);\n\nconst date = dateObj.toLocaleDateString('pt-BR');\n\nconst time = dateObj.toLocaleTimeString('pt-BR', { \n  hour12: false, \n  hour: '2-digit', \n  minute: '2-digit'\n});\n\nlet phoneNumber = data.user.phoneNumber || \"\";\nphoneNumber = Number(phoneNumber.replace(/\\D/g, \"\"));\n\nconst createdAtUtc = new Date(data.event.created_at);\ncreatedAtUtc.setHours(createdAtUtc.getHours());\n\nlet createdAtFormatted = createdAtUtc.toLocaleString('pt-BR', { \n  timeZone: 'America/Sao_Paulo', \n  hour12: false, \n  year: 'numeric', \n  month: '2-digit', \n  day: '2-digit', \n  hour: '2-digit', \n  minute: '2-digit', \n  second: '2-digit' \n});\n\nreturn {\n  messageScheduledTime: messageScheduledTime,\n  createdAtFormatted: createdAtFormatted,\n  date: date,\n  time: time,\n  phoneNumber: phoneNumber\n};"},"id":"aebfb81a-da09-4d11-82ae-2b4e8a85dcda","name":"Normalização","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,720]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bcc44579-f045-4738-94f1-abb07d688a31","leftValue":"={{ $json.payload.rescheduled }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,720],"id":"fe7890fa-b41f-4466-9640-c1f4f1a9075f","name":"É evento cancelado ou agendado?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Reagendado","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reagendado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"321f1490-7661-4f9b-b91d-25c7a3c1c533","leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Agendado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8b84e4-ca12-40e4-a6a9-60abf0efbe2f","leftValue":"={{ $('Variaveis').first().json.type_event }}","rightValue":"Cancelado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelado"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1776,496],"id":"b180c364-2c1e-43bc-8e15-3014addd7118","name":"Switch"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"={{ $('Normalização').first().json.date }} -\n{{ $('Normalização').first().json.time }}"},{"column":"Hora Criado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"},{"column":"Reagendou","fieldValue":"SIM"}]},"options":{}},"id":"9ce41fd2-2e3b-43fc-a829-beb40ff11869","name":"Atualiza data na planilha2","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2000,320],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"worksheet","operation":"upsert","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Transferir setor","fieldValue":"=Erro ao transferir setor"}]},"options":{}},"id":"844569b0-673c-463e-9846-5102ec1e1fd9","name":"Erro ao transferir","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2672,512],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n    \"templateId\": \"67d80796031c821c70ee9b96\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.user.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.date }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.time }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.payload.reschedule_url }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Variaveis').first().json.payload.cancel_url }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"05dbc3e4-da11-4cc9-bb63-0c12b562552b","name":"HTTP Envio mensagem2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,512],"retryOnFail":false,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $json.currentChatId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"66158b36005d062d145a6835"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"ec5a3086-e979-4865-abfe-99daea228af3","name":"HTTP Transfere Setor1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,512],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n  \"message\": \"Olá {{ $('Variaveis').first().json.user.name }}, seu agendamento foi cancelado.\",\n  \"isWhisper\": false,\n  \"forceSend\": true,\n  \"verifyContact\": false\n}\n","options":{}},"id":"df43d523-04c5-49d2-83d9-6fff928acfe3","name":"HTTP Envio cancelamento1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,896],"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"=https://api.stw.chat/core/v2/api/chats/messages/scheduler/{{ $json.Id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"f524cbb4-7e86-4ed9-9280-a0342267fb19","name":"HTTP Cancelamento envio2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,896],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/messages/scheduler/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"status\": 0,\n\"number\": \"{{ $('Normalização').first().json.phoneNumber }}\"\n}   ","options":{}},"id":"1822d2c2-3a78-4d8a-8e6e-03858c28e943","name":"HTTP Lista agendamento2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,896],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"=-"},{"column":"Cancelado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"}]},"options":{}},"id":"fe8c50aa-3979-4178-b733-cbe9bc9da27b","name":"Cancela data na planilha1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2672,896],"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}}},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/send-template","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Normalização').first().json.phoneNumber }}\",\n    \"templateId\": \"67d80796031c821c70ee9a96\",\n    \"templateComponents\": [\n        {\n            \"type\": \"body\",\n            \"parameters\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Calendly Trigger').first().json.payload.name }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.date }}\"\n                },\n                {\n                    \"type\": \"text\",\n                    \"text\": \"{{ $('Normalização').first().json.time }}\"\n                }\n            ]\n        }\n    ],\n    \"forceSend\": true,\n    \"verifyContact\": false\n}  ","options":{}},"id":"7237cfa9-d3f0-4cd2-be99-aa6ddc6c4873","name":"HTTP Envio mensagem4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,128],"retryOnFail":false,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"=https://api.stw.chat/core/v2/api/chats/messages/scheduler/{{ $json.Id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"options":{}},"id":"ebcc6729-5917-485d-a86a-b03e2ffb8455","name":"HTTP Cancelamento envio3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,128],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.stw.chat/core/v2/api/chats/messages/scheduler/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=access-token","value":"66195c3f62762a8da6a9539e"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"status\": 0,\n\"number\": \"{{ $('Normalização').first().json.phoneNumber }}\"\n}   ","options":{}},"id":"a8513f7a-6d60-4c0d-9cf3-bcb20727d6e0","name":"HTTP Lista agendamento3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,128],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"readRows","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"id"},"worksheet":{"__rl":true,"mode":"id","value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}"},"options":{"rawData":false}},"id":"10591458-ac77-40e6-a2e2-488fb0442560","name":"Verificação numero","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1104,720],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $input.all();\n\nconst formattedphone = $('Normalização').first().json.phoneNumber\n\nif (Array.isArray(data)) {\n    const phoneNumbers = data.map(item => item.json.Telefone).filter(phone => phone);\n    const exists = phoneNumbers.includes(formattedphone);\n\n    const scheduledValue = data.find(item => item.json.Telefone === formattedphone)?.json?.Agendado;\n    const scheduledExists = scheduledValue != null && scheduledValue !== \"\";\n  \n    return {\n        json: { \n          exists: exists,\n          scheduledExists: scheduledExists\n        }\n    };\n} else {\n    return {\n        json: { exists: false, scheduledExists: false}\n    };\n}\n"},"id":"f09bdae9-0ec9-4686-b559-e6f2d313b6f5","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,624]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68d68825-4181-4791-90d9-9a28ad416acd","leftValue":"={{ $json.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,624],"id":"ebc777d0-51fa-463a-b293-a492aa93002b","name":"If1"},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Agendado","fieldValue":"={{ $('Normalização').first().json.date }} - {{ $('Normalização').first().json.time }}"},{"column":"Hora Criado","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"}]},"options":{}},"id":"1202fabe-b4e8-416e-bfd3-a542afb641bb","name":"Atualiza data na planilha1","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2000,512],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ea9c1835-6aa8-4b16-92c6-ef16732449fe","leftValue":"={{ $('If1').item.json.scheduledExists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c0a0d87e-2bf9-43f6-882b-c963127df01a","name":"Cancelou e Agendou?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,704]},{"parameters":{"resource":"worksheet","operation":"update","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{8C676FFE-CC3F-4803-A2F1-0C651A0A0B88}","mode":"list","cachedResultName":"Planilha Prod","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Planilha%20Prod!A1"},"columnToMatchOn":"Telefone","valueToMatchOn":"={{ $('Normalização').first().json.phoneNumber }}","fieldsUi":{"values":[{"column":"Reagendou","fieldValue":"=SIM"}]},"options":{}},"id":"d2b24eb2-be5c-4aa2-b9cf-47391173cadb","name":"Atualiza","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2224,704],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueErrorOutput"},{"parameters":{"authentication":"oAuth2","scope":"organization","events":["invitee.created","invitee.canceled"]},"id":"0154b10d-0cc0-42c2-96a1-0846bb9bffb5","name":"Calendly Trigger","type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[208,720],"webhookId":"bddbdce7-8945-484f-a80d-2a22cb5342cf","notesInFlow":false,"credentials":{"calendlyOAuth2Api":{"id":"YswHYmZLRHKnBTy6","name":"Calendly account 2"}}},{"parameters":{"resource":"worksheet","operation":"append","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{4EA0A6C3-6489-4A96-9C96-59D866A4012E}","mode":"list","cachedResultName":"NumeroDiferente","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=NumeroDiferente!A1"},"fieldsUi":{"values":[{"column":"Nome","fieldValue":"={{ $('Variaveis').first().json.user.name }}"},{"column":"Numero Inserido","fieldValue":"={{ $('Normalização').first().json.phoneNumber }}"},{"column":"Data Criou","fieldValue":"={{ $('Normalização').first().json.createdAtFormatted }}"},{"column":"Data Agenda","fieldValue":"={{ $('Normalização').first().json.date }} - {{ $('Normalização').first().json.time }}"}]},"options":{}},"id":"ddecc33d-109d-4f9f-83cb-29c507e6ca6f","name":"Numero diferente","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1776,720],"alwaysOutputData":false,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"worksheet","operation":"append","workbook":{"__rl":true,"value":"01YKPLS32Z3YXTEXADDRE2K7S6KR6AF7DY","mode":"list","cachedResultName":"Agendamento","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{BEC22B8A-EED4-4960-9385-8C6748E9A2AD}","mode":"list","cachedResultName":"Log errors","cachedResultUrl":"https://audittecnica-my.sharepoint.com/personal/regulacao1_audittecnica_com_br/_layouts/15/Doc.aspx?sourcedoc=%7B322FDE59-035C-491C-A57E-5E547C02FC78%7D&file=Agendamento.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Log%20errors!A1"},"fieldsUi":{"values":[{"column":"ERRO","fieldValue":"={{$json.error}}"},{"column":"Hora","fieldValue":"={{ $('Normalização').first().createdAtFormatted }}"}]},"options":{}},"id":"7031b57a-f1cf-41ee-97a1-ca1d452b9007","name":"Log errors","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[1328,816],"alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"microsoftExcelOAuth2Api":{"id":"CeIHqcdLyocxAKAN","name":"Microsoft Excel Regional"}},"onError":"continueRegularOutput"},{"parameters":{"content":"VERIFICAÇÃO SE NÚMERO EXISTE NA PLANLIHA","height":340,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1056,640],"id":"4a8e0a82-6eca-4e1d-ab2b-d8d4ca7a85de","name":"Sticky Note"},{"parameters":{"url":"https://api.calendly.com/user_busy_times","sendQuery":true,"queryParameters":{"parameters":[{"name":"user","value":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27"},{"name":"start_time","value":"2025-05-22T20:00:00.000000Z"},{"name":"end_time","value":"2025-05-28T00:00:00.000000Z"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,-144],"id":"1dca2ffd-7005-4fd1-9892-1fc6dd0e1c7a","name":"HTTP Request"}],"connections":{"Variaveis":{"main":[[{"node":"Normalização","type":"main","index":0}]]},"Normalização":{"main":[[{"node":"Verificação numero","type":"main","index":0}]]},"É evento cancelado ou agendado?":{"main":[[{"node":"Variaveis","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Envio mensagem4","type":"main","index":0},{"node":"Atualiza data na planilha2","type":"main","index":0}],[{"node":"Atualiza data na planilha1","type":"main","index":0},{"node":"Cancelou e Agendou?","type":"main","index":0}],[{"node":"HTTP Envio cancelamento1","type":"main","index":0}]]},"HTTP Envio mensagem2":{"main":[[{"node":"HTTP Transfere Setor1","type":"main","index":0}]]},"HTTP Transfere Setor1":{"main":[[],[{"node":"Erro ao transferir","type":"main","index":0}]]},"HTTP Envio cancelamento1":{"main":[[{"node":"HTTP Lista agendamento2","type":"main","index":0}]]},"HTTP Cancelamento envio2":{"main":[[{"node":"Cancela data na planilha1","type":"main","index":0}]]},"HTTP Lista agendamento2":{"main":[[{"node":"HTTP Cancelamento envio2","type":"main","index":0}]]},"HTTP Envio mensagem4":{"main":[[{"node":"HTTP Lista agendamento3","type":"main","index":0}]]},"HTTP Lista agendamento3":{"main":[[{"node":"HTTP Cancelamento envio3","type":"main","index":0}]]},"Verificação numero":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Log errors","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Numero diferente","type":"main","index":0}]]},"Atualiza data na planilha1":{"main":[[{"node":"HTTP Envio mensagem2","type":"main","index":0}]]},"Cancelou e Agendou?":{"main":[[{"node":"Atualiza","type":"main","index":0}]]},"Calendly Trigger":{"main":[[{"node":"É evento cancelado ou agendado?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/fcdf19bd-c25e-4fb8-8178-fbe9bdc3e08f"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Calendly Trigger":[{"json":{"created_at":"2025-05-05T11:52:32.000000Z","created_by":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27","event":"invitee.created","payload":{"cancel_url":"https://calendly.com/cancellations/db3fa3b5-6e06-42a5-ac13-2c757f1676d6","created_at":"2025-05-05T11:52:32.386093Z","email":"teste@email.com","event":"https://api.calendly.com/scheduled_events/a8e89796-5654-4366-95f2-c1ddaa764fbd","first_name":null,"invitee_scheduled_by":null,"last_name":null,"name":"vinicius","new_invitee":null,"no_show":null,"old_invitee":null,"payment":null,"questions_and_answers":[{"answer":"+55 14 97400-9711","position":0,"question":"Por favor, insira o número de telefone com o qual foi feito o contato para agendamento da vistoria."}],"reconfirmation":null,"reschedule_url":"https://calendly.com/reschedulings/db3fa3b5-6e06-42a5-ac13-2c757f1676d6","rescheduled":false,"routing_form_submission":null,"scheduled_event":{"created_at":"2025-05-05T11:52:32.370554Z","end_time":"2025-05-12T11:50:00.000000Z","event_guests":[],"event_memberships":[{"user":"https://api.calendly.com/users/1f8f12cd-5472-4547-afbb-192411752f27","user_email":"suporte@audittecnica.com.br","user_name":"Maschetti Vistorias Online - Regional Eletrônica"}],"event_type":"https://api.calendly.com/event_types/fa28e36a-3192-4c1c-a493-d6eda0c4c469","invitees_counter":{"total":1,"active":1,"limit":10},"location":{"location":null,"type":"custom"},"meeting_notes_html":null,"meeting_notes_plain":null,"name":"Agendamento online M.V.","start_time":"2025-05-12T11:30:00.000000Z","status":"active","updated_at":"2025-05-05T11:52:32.370554Z","uri":"https://api.calendly.com/scheduled_events/a8e89796-5654-4366-95f2-c1ddaa764fbd"},"scheduling_method":null,"status":"active","text_reminder_number":null,"timezone":"America/Sao_Paulo","tracking":{"utm_campaign":null,"utm_source":null,"utm_medium":null,"utm_content":null,"utm_term":null,"salesforce_uuid":null},"updated_at":"2025-05-05T11:52:32.386093Z","uri":"https://api.calendly.com/scheduled_events/a8e89796-5654-4366-95f2-c1ddaa764fbd/invitees/db3fa3b5-6e06-42a5-ac13-2c757f1676d6"}}}]},"versionId":"a3bdd49d-5358-4bef-b03f-4dfdcb7698e4","triggerCount":1,"shared":[{"createdAt":"2025-07-18T18:49:23.777Z","updatedAt":"2025-07-18T18:49:23.777Z","role":"workflow:owner","workflowId":"uS7X62ygKerECKqd","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}