xZVrCKG6FSu6M3Q2.json
{"createdAt":"2025-09-09T19:56:04.472Z","updatedAt":"2025-10-14T20:10:11.630Z","id":"xZVrCKG6FSu6M3Q2","name":"Agente STW - Suporte (MAIN)","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"tlj5zHxMKGY71leA","mode":"list","cachedResultName":"Agente STW - ParseMessage"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  messageType: $node['Webhook'].json.body.data.message.type,\n  text: $node['Webhook'].json.body.data.message.text,\n  mediaLink: $node['Webhook'].json.body.data.message.dataMedia.urlFile\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,-272],"id":"2b1cc233-7381-45cb-a955-ed4ffeb1e55d","name":"ParseMessage"},{"parameters":{"assignments":{"assignments":[{"id":"c80b3d57-9995-4326-913a-86e8caafee07","name":"payload.from","value":"={{ $node['Webhook'].json.body.data.number }}","type":"string"},{"id":"2a7a4aed-44b3-40e7-8121-a88fa72175ed","name":"payload.msg.chatId","value":"={{ $node['Webhook'].json.body.data.message.chatId }}","type":"string"},{"id":"290a9746-b930-468d-a2ee-4092c0b1b173","name":"payload.msg.id","value":"={{ $node['Webhook'].json.body.data.message.id }}","type":"string"},{"id":"474d9868-896c-4113-a5cf-76e660825e6e","name":"payload.msg.date","value":"={{ $now }}","type":"string"},{"id":"ac152d74-dc84-4e65-bac4-887342fdcc54","name":"payload.msg.content","value":"={{ $json.content }}","type":"string"},{"id":"14ccc193-976a-442e-bbdc-a8eb27802685","name":"payload.msg.sector","value":"={{ $node['Webhook'].json.body.data.sector }}","type":"string"},{"id":"920aff3e-5b5d-41f8-8441-58419cfddf0e","name":"payload.userInfo","value":"={{ $node['ClientInfo'].json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-272],"id":"d75c1d1b-a926-4803-bfeb-01392278637a","name":"Payload"},{"parameters":{"workflowId":{"__rl":true,"value":"SUHlqqgkbxgJEULr","mode":"list","cachedResultName":"STW - MessageQueue"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ $json.payload }}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[896,-272],"id":"9f1279da-dc2a-45d1-bd25-6cc2cfbd27e4","name":"MessageQueue"},{"parameters":{"workflowId":{"__rl":true,"value":"i9OjTCt6EXqPXB9K","mode":"list","cachedResultUrl":"/workflow/i9OjTCt6EXqPXB9K","cachedResultName":"Agente STW - IA"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{\n{\n  ...$node['Payload'].json.payload,\n  msg: {\n    ...$node['Payload'].json.payload.msg,\n    content: $json.message\n  }\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,-272],"id":"cd6a8c66-f739-40cb-8659-00ffa79ec40c","name":"IA"},{"parameters":{"workflowId":{"__rl":true,"value":"OVzCHYeVAbYhZZoD","mode":"list","cachedResultUrl":"/workflow/OVzCHYeVAbYhZZoD","cachedResultName":"Agente STW - Response"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{\n  {\n    ...$node['Payload'].json.payload,\n    ia: $json.output\n  }\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1344,-272],"id":"7e91377c-e6de-4589-9eff-711b57eb629b","name":"Response"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,-48],"id":"ec55a865-b138-41f1-b82f-f10ec495fdc5","name":"Error Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-48],"id":"25fe5964-e2cb-4976-9408-c749d5b20baf","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"14d03e50-b531-489a-8436-75eafd820414","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-272],"id":"6a8ba9da-2053-4ae5-b157-1e2ac14eead8","name":"Webhook","webhookId":"14d03e50-b531-489a-8436-75eafd820414"},{"parameters":{"workflowId":{"__rl":true,"value":"YuJdupad3Ol7AgWn","mode":"list","cachedResultName":"Agente STW - ClientInfo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"payload":"={{ \n{\n  whatsapp: $json.body.data.number,\n  chatId: $json.body.data.message.chatId,\n  sectorId: $json.body.data.sector\n}\n}}"},"matchingColumns":["payload"],"schema":[{"id":"payload","displayName":"payload","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,-272],"id":"d4eb05ae-5101-4318-b6b5-33b671797782","name":"ClientInfo"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,-512],"id":"6162d105-3c3b-4b19-bcfa-69714483a34e","name":"Delete table or rows","credentials":{"postgres":{"id":"bRMaL4b4bKt4r466","name":"Postgres Docker"}}}],"connections":{"ParseMessage":{"main":[[{"node":"Payload","type":"main","index":0}]]},"Payload":{"main":[[{"node":"MessageQueue","type":"main","index":0}]]},"MessageQueue":{"main":[[{"node":"IA","type":"main","index":0}]]},"IA":{"main":[[{"node":"Response","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"ClientInfo","type":"main","index":0}]]},"ClientInfo":{"main":[[{"node":"ParseMessage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"xZVrCKG6FSu6M3Q2"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":231,"url":"https://n8n.systemway.com.vc/execution/workflow/1/231","retryOf":"34","error":{"message":"Example Error Message","stack":"Stacktrace"},"lastNodeExecuted":"Node With Error","mode":"manual"},"workflow":{"id":"1","name":"Example Workflow"}}}],"Webhook":[{"json":{"headers":{"connection":"upgrade","host":"n8n.systemway.com.vc","content-length":"698","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"49.13.65.79","cf-ipcountry":"DE","cf-ray":"984461a42d17dcc6-FRA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"c578771f-b120-47f2-aa25-62f2c0dcdbb6","content-type":"application/json","x-forwarded-for":"49.13.65.79","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"MESSAGE_RECEIVE","menu":"@menu.codigo","data":{"chatId":"68d437734b1e010db8bbe4e7","sector":"68d401bb6a56b9cc9fb8a085","sectorId":"68d401bb6a56b9cc9fb8a085","name":"@contato.nomeWhatsapp","number":"5514974009711","chatDateStart":"24/09/2025 15:24:51","message":{"id":"68d439eaeb6c9e495faa3caf","chatId":"68d437734b1e010db8bbe4e7","channelId":"68d408ea506558bc37ecfb4d","contactId":"681226bbce154d012a5dc9a9","organizationId":"68d400dd58603c555b1c135c","userId":"6883e2d37f49915d5c49f294","bySync":false,"isPrivate":false,"isMmms":false,"isReplyMessage":false,"origin":2,"text":"Não estou conseguindo acessar o site do gov","type":0,"dhSent":null,"dhDelivered":null,"dhRead":null,"dataLocation":{},"dataVCards":{},"dataMedia":{}}}},"webhookUrl":"https://n8n.systemway.com.vc/webhook/14d03e50-b531-489a-8436-75eafd820414","executionMode":"production"}}]},"versionId":"738d2333-c83c-4dda-9814-336ad06a8093","triggerCount":1,"shared":[{"createdAt":"2025-09-09T19:56:04.472Z","updatedAt":"2025-09-09T19:56:04.472Z","role":"workflow:owner","workflowId":"xZVrCKG6FSu6M3Q2","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}