Y6tq8WFxSBc3vcZv.json
{"createdAt":"2025-07-18T19:10:51.581Z","updatedAt":"2025-10-08T12:52:47.927Z","id":"Y6tq8WFxSBc3vcZv","name":"Agente Regional - Tools Agendamento","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"},{"name":"data"},{"name":"numero"},{"name":"sinistro"}]}},"id":"4e08aa24-a1af-4326-b14b-93a850406f25","typeVersion":1.1,"name":"sub-workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-448,208]},{"parameters":{"jsCode":"const collection = $json.collection;\n\nreturn collection.map(item => ({ start_time: item.start_time }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"e128239b-a4f0-4e80-9acd-cdb5a6738ab2","name":"Code1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"getDates","operator":{"type":"string","operation":"equals"},"id":"8f3e4535-6260-472e-a9ec-723550b14bdc"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26db2cf9-86f8-412a-b8e8-d1b389a4c4b1","leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"scheduleAppointment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20f59d09-4b5b-48bd-973c-b5a21a75b59e","leftValue":"={{ $('sub-workflow').item.json.type }}","rightValue":"rescheduleAppointment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,208],"id":"92f52751-fddf-46c2-aff4-49c781efaf06","name":"Switch2"},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","sendQuery":true,"queryParameters":{"parameters":[{"name":"end_time","value":"={{ $now.setZone('utc').plus({ days: 7, minutes: 5 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'\") }}"},{"name":"start_time","value":"={{ $now.setZone('utc').plus({ minutes: 5 }).toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'\") }}"},{"name":"event_type","value":"https://api.calendly.com/event_types/fa28e36a-3192-4c1c-a493-d6eda0c4c469"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"1390dcfe-b839-40c4-8dc6-aa2ed4b3db38","name":"list"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[448,0],"id":"b1cae514-2be4-413e-b13b-dbde66c23880","name":"Limit1"},{"parameters":{"jsCode":"// Obtem todos os itens de entrada\nconst data = $input.all();\nconst horarios = data.map((item, index) => {\n  const dt = new Date(item.json.start_time);\n  const horario = dt.toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }).replace(\",\", \"\");\n  return {\n    title: horario,\n    option: (index + 1).toString()\n  };\n}).slice(0, 10);\n\nconst payload = {\n  scriptIdCallback: \"test\",\n  title: \"Horários disponíveis\",\n  footer: \"Horários\",\n  text: \"Segue abaixo os horários disponíveis\",\n  buttonText: \"ver\",\n  sections: [{\n    title: \"teste\",\n    rows: horarios\n  }]\n};\n\nreturn [{ json: {payload: JSON.stringify(payload)} }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"id":"0b39f00e-e856-47b4-b636-5e33aac96dfc","name":"Code"},{"parameters":{"method":"POST","url":"https://calendlyscheduling.dev/api/scheduled_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"ZFpgbi3hbDASyaTi9dP4SBAGKewX273r"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"scheduling_url\": \"https://calendly.com/maschetti-vist/agendamento-online-m-v-clone\",\n  \"start_time\": \"{{ $('sub-workflow').first().json.data }}\",\n  \"fields\": [\n    {\n      \"name\": \"Nome\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.name }}\"\n    },\n    {\n      \"name\": \"E-mail\",\n      \"type\": \"string\",\n      \"value\": \"teste@email.com\"\n    },\n    {\n      \"name\": \"telefone\",\n      \"type\": \"phone_number\",\n      \"value\": \"+{{ $json.phone }}\"\n    },\n    {\n      \"name\": \"Sinistro\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.claim_number }}\"\n    }\n  ],\n  \"invitee_timezone\": \"America/Sao_Paulo\",\n  \"webhook_url\": \"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393\",\n  \"metadata\": {}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,208],"id":"9d91a2e2-fc24-4d13-abae-8c69929b5605","name":"schedule"},{"parameters":{"assignments":{"assignments":[{"id":"2c3e47b6-b1db-44d9-b9eb-afa3caecc39a","name":"message","value":"=Aguarde a confirmação","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,208],"id":"c538df68-f5b1-4490-a0a6-60e434b76d6e","name":"Edit Fields"},{"parameters":{"method":"POST","url":"={{ $json.scheduled_link }}/cancellation","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzQ0OTAxNzUxLCJqdGkiOiI3YTIxMDY1My02NGI3LTQyYmEtOTM0MC0zNTA5ZTY1ZmExMDAiLCJ1c2VyX3V1aWQiOiIxZjhmMTJjZC01NDcyLTQ1NDctYWZiYi0xOTI0MTE3NTJmMjcifQ.YHC2CsPG8efwoTjY0sVhFW2JHnxMzjBoMOII_bJ4ndrULgw-kcv0Ux-qhSJy4qrHCgnQ1qG8Pof8N1AMZAF87w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,400],"id":"f10b8a60-87e9-40bf-ba02-e56644c4f442","name":"cancel"},{"parameters":{"operation":"get","tableId":"schedules","filters":{"conditions":[{"keyName":"claim_number","keyValue":"={{ $json.sinistro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,400],"id":"02097fb0-6a3b-4680-a942-165ed2b30ace","name":"Supabase","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"operation":"get","tableId":"clients_to_schedule","filters":{"conditions":[{"keyName":"claim_number","keyValue":"={{ $json.sinistro }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,208],"id":"059133ae-be50-47e9-b4dc-be6564f6ed7b","name":"Supabase2","credentials":{"supabaseApi":{"id":"qlJQApzQRTotI1yx","name":"Supabase Regional"}}},{"parameters":{"method":"POST","url":"https://calendlyscheduling.dev/api/scheduled_events","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"ZFpgbi3hbDASyaTi9dP4SBAGKewX273r"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"scheduling_url\": \"https://calendly.com/maschetti-vist/agendamento-online-m-v-clone\",\n  \"start_time\": \"{{ $('Switch2').item.json.data }}\",\n  \"fields\": [\n    {\n      \"name\": \"Nome\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.name }}\"\n    },\n    {\n      \"name\": \"E-mail\",\n      \"type\": \"string\",\n      \"value\": \"teste@email.com\"\n    },\n    {\n      \"name\": \"telefone\",\n      \"type\": \"phone_number\",\n      \"value\": \"+{{ $json.phone }}\"\n    },\n    {\n      \"name\": \"Sinistro\",\n      \"type\": \"string\",\n      \"value\": \"{{ $json.claim_number }}\"\n    }\n  ],\n  \"invitee_timezone\": \"America/Sao_Paulo\",\n  \"webhook_url\": \"https://n8n.systemway.com.vc/webhook/7e763ba0-bc8d-4d1b-ba19-ecc0d2fab393\",\n  \"metadata\": {}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,400],"id":"19678d2a-c817-4033-a5a4-cf5187941e9b","name":"reschedule"},{"parameters":{"assignments":{"assignments":[{"id":"2c3e47b6-b1db-44d9-b9eb-afa3caecc39a","name":"message","value":"=Aguarde a confirmação","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,400],"id":"b16ac803-72a0-40fa-b68e-bae3c329075c","name":"Edit Fields2"}],"connections":{"sub-workflow":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"list","type":"main","index":0}],[{"node":"Supabase2","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"list":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Code","type":"main","index":0}]]},"schedule":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"cancel":{"main":[[{"node":"reschedule","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"schedule","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"cancel","type":"main","index":0}]]},"reschedule":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"sub-workflow":[{"json":{"type":"getDates","data":"2025-07-03T09:30:00-03:00","numero":"5514974009711","sinistro":"45051562"}}]},"versionId":"0ab1f4a3-77a1-432d-8928-5cd88a7f84ab","triggerCount":0,"shared":[{"createdAt":"2025-07-18T19:10:51.581Z","updatedAt":"2025-07-18T19:10:51.581Z","role":"workflow:owner","workflowId":"Y6tq8WFxSBc3vcZv","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}