yJ37LrvgJzdEpQ6d.json
{"createdAt":"2025-07-25T12:29:09.756Z","updatedAt":"2025-10-16T12:28:50.932Z","id":"yJ37LrvgJzdEpQ6d","name":"Integracao STW Chat e Desk - Abrir Chamado DeskManager","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"556eb7a1-7d83-4215-8aa1-1f6416ed0b6c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,-80],"id":"4d718ef4-8914-4c88-a848-baeaecb12a42","name":"Webhook","webhookId":"556eb7a1-7d83-4215-8aa1-1f6416ed0b6c"},{"parameters":{"jsCode":"const chave = $('Execute a SQL query').first().json.chave\nconst token = JSON.parse($input.first().json.data);\nconst chatId = $('Webhook').first().json.body.data.chatId\nconst number = $('Webhook').first().json.body.data.number\n\nasync function fetchChatMessages() {\n  const requestOptions = {\n    url: `https://api.stw.chat/core/v2/api/chats/${chatId}`,\n    method: 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': '689a61a95706d77b7eb722cb'\n    }\n  };\n\n  const response = await this.helpers.httpRequest(requestOptions);\n  return response.messages || [];\n}\n\nfunction formatDescricaoSimples(messages) {\n  return messages\n    .filter(msg => !msg.isSystemMessage && !msg.isPrivate && msg.text)\n    .map(msg => {\n      const remetente = msg.isSentByMe ? 'Técnico' : msg.senderName;\n      const date = new Date(msg.dhMessage);\n      const dataHorario = date.toLocaleTimeString('pt-BR', {\n        day: '2-digit',\n        month: '2-digit',\n        year: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        hour12: false\n      });\n      return `[${dataHorario}] ${remetente}:\\n ${msg.text}`;\n    })\n    .join('\\n\\n');\n}\n\nasync function openTicket(descricao) {\n  const options = {\n    url: 'https://api.desk.ms/ChamadosSuporte',\n    method: 'PUT',\n    headers: {\n      'Content-Type': 'application/json',\n      'Authorization': token\n    },\n    body: {\n      TChamado: {\n        Solicitante: chave,\n        AutoCategoria: \"8305\",\n        Solicitacao: \"000105\",\n        Descricao: descricao\n      }\n    },\n    json: true\n  };\n\n  return await this.helpers.httpRequest(options);\n}\n\nasync function sendSuccesfullMessage(ticket){\n  const options = {\n    url: 'https://api.stw.chat/core/v2/api/chats/send-text',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': \"689a61a95706d77b7eb722cb\"\n    },\n    body: {\n      \"forceSend\": true,\n      \"isWhisper\": false,\n      \"message\": `O chamado #${ticket} foi criado com sucesso e o atendimento por este canal está encerrado!\\nVamos verificar sua solicitação, então por favor aguarde até retornarmos o contato :)`,\n      \"number\": number,\n      \"verifyContact\": false\n    },\n    json: true\n  };\n\n  return await this.helpers.httpRequest(options);\n}\n\nasync function finalizeChat() {\n  const requestOptions = {\n    url: `https://api.stw.chat/core/v2/api/chats/${chatId}/finalize`,\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'access-token': '689a61a95706d77b7eb722cb'\n    },\n    body: {\n      \"sendMessageFinalized\": false,\n      \"fidelityUser\": false,\n      \"sendResearchSatisfaction\": false\n    },\n    json: true\n  };\n\n  const response = await this.helpers.httpRequest(requestOptions);\n  return response;\n}\n\nconst mensagens = await fetchChatMessages();\nconst descricao = formatDescricaoSimples(mensagens);\nconst chamado = await openTicket(descricao)\nconst numeroChamado = Array.isArray(chamado) && chamado.length > 0 ? chamado[0] : null;\n\nif (!numeroChamado) {\n  throw new Error(\"Número do chamado não retornado corretamente.\");\n}\nconst mensagemEnviada = await sendSuccesfullMessage(numeroChamado);\nconst finalize = await finalizeChat();\n\nreturn [{\n  json: {\n    chamado,\n    mensagemEnviada,\n    finalize\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-80],"id":"171862cf-d4eb-4316-9e68-697436498c89","name":"Code"},{"parameters":{"method":"POST","url":"https://api.desk.ms/Login/autenticar","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"3c6a9bc092a7386d6485a2fba65b48849c8b5647"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"PublicKey\": \"8538469cd13a011c7513f9f53470b0c1748790e5\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-80],"id":"391f5954-a98e-4d52-8f31-a50f58b2ae68","name":"getToken"},{"parameters":{"operation":"executeQuery","query":"select chave from SOLICITANTES_DESK where telefone = '{{ $json.body.data.number }}' order by cast(codigo_cliente as unsigned) asc limit 1","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[160,-80],"id":"5bfb7684-ebce-408f-961e-52e23c26c0b0","name":"Execute a SQL query","credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,144],"id":"01dc65cc-36c7-4e44-a6fd-3cd5d76acd8f","name":"Error Trigger"},{"parameters":{"toRecipients":"vinicius.marotti@systemway.com.br","subject":"Workflow error - Erro ao abrir chamado","bodyContent":"={{ $workflow.name }}\n\nWorkflow error:\nExecution: {{ $json.execution.id }}, {{ $json.execution.url }}\n\nError: {{ $json.execution.error.message }}\n","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[160,144],"id":"0092c418-a7b7-42b9-8ecc-2779d5c30bd7","name":"Send a message","webhookId":"8677b346-34ab-4b42-b63c-c902226cb6ad","credentials":{"microsoftOutlookOAuth2Api":{"id":"FmajLBt0f4q9kfkl","name":"Microsoft Outlook Vinicius Marotti"}}}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code":{"main":[[]]},"getToken":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"getToken","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c15fe683-279e-4b9e-b1b1-5c75397f13db","triggerCount":1,"shared":[{"createdAt":"2025-07-25T12:29:09.756Z","updatedAt":"2025-07-25T12:29:09.756Z","role":"workflow:owner","workflowId":"yJ37LrvgJzdEpQ6d","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}