YuJdupad3Ol7AgWn.json
{"createdAt":"2025-09-11T12:21:29.602Z","updatedAt":"2025-10-08T12:46:15.667Z","id":"YuJdupad3Ol7AgWn","name":"Agente STW - ClientInfo","active":false,"isArchived":false,"nodes":[{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[416,-144],"id":"5bc6bc3f-e45c-4447-ab63-48280b6242ca","name":"UserInfo"},{"parameters":{"workflowInputs":{"values":[{"name":"payload","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,-128],"id":"65d7cb06-e727-4825-8945-567a064f3724","name":"Payload"},{"parameters":{"method":"POST","url":"=https://api.stw.chat/core/v2/api/chats/{{ $node['Payload'].json.payload.sectorId }}/transfer","sendQuery":true,"queryParameters":{"parameters":[{"name":"sectorId","value":"68d401bb6a56b9cc9fb8a085"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"access-token","value":"68d408ea506558bc37ecfb4d"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-320],"id":"88643667-a42e-47fe-9748-53dd57021a6c","name":"Transfer"},{"parameters":{"operation":"executeQuery","query":"select cliente, codigo_cliente from SOLICITANTES_DESK where telefone = '{{ $node['Payload'].json.payload.whatsapp }}' ","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-256,-224],"id":"3c04109d-9393-479c-a4a8-b4e61b1e8758","name":"ClientInfo","alwaysOutputData":true,"credentials":{"mySql":{"id":"LRSzEWs6gl6bZPI9","name":"MySQL PBI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fbfa95c0-341f-4434-a5f2-601fe28b8abc","leftValue":"={{ $node['ClientInfo'].json.cliente }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,-224],"id":"61ac470b-7655-4273-9dda-dffd4756d3f2","name":"UserNotFound?"},{"parameters":{"jsCode":"const items = $items();\n\nconst allInfoArray = items.map(item => item.json);\n\nreturn [\n  {\n    json: {\n      clients: allInfoArray\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-128],"id":"42a49ab7-b8bd-4a96-b173-5818609073c7","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a4a31ce-628f-4070-b63c-0317d7b442c2","leftValue":"={{ $json.propertyName }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,-128],"id":"0b34aaad-4029-4053-9d7e-da64148c4f57","name":"If"},{"parameters":{"operation":"get","key":"={{ $json.payload.whatsapp }}_categories","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-704,-128],"id":"94f205ef-591f-4e7d-89f6-81e6cef05ea3","name":"Redis","credentials":{"redis":{"id":"clSKY8x0csnaJ88D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d48d6e67-7360-4430-9b2c-d9b9f704a2d5","name":"categories","value":"={{ JSON.parse($json.propertyName) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,64],"id":"23cc1acc-ca2c-4b0d-886e-0af45a990820","name":"Edit Fields"}],"connections":{"Payload":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Transfer":{"main":[[{"node":"UserInfo","type":"main","index":0}]]},"ClientInfo":{"main":[[{"node":"UserNotFound?","type":"main","index":0}]]},"UserNotFound?":{"main":[[{"node":"Transfer","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"UserInfo","type":"main","index":1}]]},"If":{"main":[[{"node":"ClientInfo","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"UserInfo","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Payload":[{"json":{"payload":{"whatsapp":"5514974009711","chatId":"68caa811b8640e97214c45d2","sectorId":"6866e9fc0c21f9b0a39eaeea"}}}]},"versionId":"1afb41ef-88a5-4ab6-8b57-50df93a76c3c","triggerCount":0,"shared":[{"createdAt":"2025-09-11T12:21:29.602Z","updatedAt":"2025-09-11T12:21:29.602Z","role":"workflow:owner","workflowId":"YuJdupad3Ol7AgWn","projectId":"W87TnA5pjVYkC94H"}],"tags":[]}